* {
  box-sizing: border-box;
}

:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6B7280;
  --gray400: #9CA3AF;
  --gray200: #E5E7EB;
  --gray100: #F3F4F6;
  --gray50: #F3F4F6;
  --blue: #3692FF;
  --red: #f74747;
  --white: #fff;
}

html, input, textarea, button, select {
  font-family: 'Pretendard', 'sans-serif';
}

input {
  border: none;
  outline: none;
}