@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #3692ff;
  --text-color: #374151;
  --background-color: #cfe5ff;
  --white-color: #ffffff;
  --black-color: #111827;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

button {
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--text-color);
}

h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: var(--text-color);
}