.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
  height: 70px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.login-btn {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--blue);
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
