* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 1920px; */
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

/* 헤더 */
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  position: fixed;
  z-index: 1;
  top: 0;
}
main {
  margin-top: 70px;
}

.logo_home {
  width: 153px;
  height: 51px;
}

.login.button {
  font-family: pretendard;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 20px;
  width: 128px;
  height: 48px;
  background-color: #3692ff;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.button {
  cursor: pointer;
}

/* 메인 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_top,
.banner_bottom {
  width: 100%;
  height: 540px;
  background-color: #cfe5ff;
  display: flex;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: 80% bottom;
}
.banner_top {
  background-image: url("../images/Img_home_top.png");
}

.banner_bottom {
  background-image: url("../images/Img_home_bottom.png");
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.contents {
  width: 1200px;
  padding-bottom: 138px;
}

.section1,
.section2,
.section3 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 64px;
  height: 720px;
}
.banner_top .text_box,
.banner_bottom .text_box {
}
.banner_top .text1 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 32px;

  color: #374151;
}
.banner_bottom .text1 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;

  color: #374151;
}
.banner_top .watch {
  font-family: pretendard;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 16px 124px;
  background-color: #3692ff;
  color: #ffffff;
  border-radius: 40px;
  border: none;
}

.text1 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  color: #3692ff;
  margin-bottom: 12px;
}
.text2 {
  font-family: pretendard;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 2%;
  color: #374151;
  margin-bottom: 24px;
}
.text3 {
  font-family: pretendard;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 8%;
  color: #374151;
}

.section2 .text_box {
  text-align: right;
}

.section2 {
  position: relative;
  right: -211px;
}
/* 푸터 */
.footer {
  height: 160px;
  background-color: #111827;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 32px;
  margin: 0 200px;
}

.footer_nav_left {
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #9ca3af;
}
.footer_nav_center {
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  display: flex;
  color: #e5e7eb;
  gap: 30px;
}

.footer_nav_right {
  display: flex;
  gap: 12px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
