.login {
  width: 640px;
  margin: 60px auto;
}
.logo {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
}
label {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray800);
}
input {
  width: 100%;
  border-radius: 12px;
  border: none;
  height: 56px;
  padding: 16px 24px;
  background-color: var(--cool-gray-100);
}
input:focus {
  outline: 2px solid #3692ff;
}
input::placeholder {
  color: var(--cool-gray-400);
}
.pw-box {
  position: relative;
}
.pw-box img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 20px;
  cursor: pointer;
}

button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
}

.social-login {
  width: 100%;
  height: 74px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 25px 23px;
  gap: 16px;
}
.social-login p {
  flex-grow: 2;
}
.social-login img {
  width: 42px;
  height: 42px;
}
.signup {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
.signup a {
  text-decoration: underline;
  color: var(--Brand-blue);
}
