
header {
  display: flex;
  justify-content: center;
}

main {
  max-width: 640px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}


.logo-image {
  width: 396px;
  height: 132px;
  display: inline-block;
  margin-top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
}

.input {
  /* display: block; */
  /* height: 56px;필요없었음 */
  border-radius: 12px;
  border: none;
  background-color: var(--gray100);
  padding: 16px 24px;
  box-shadow: none;
  margin-bottom: 8px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.input:focus {
  /* border-color: var(--blue); border로 안되고 outline으로 됨
  border: 1px solid var(--blue); */ /*border는 테두리가 바깥쪽에 생기고 outline은 안쪽에 생김*/
  outline-color: var(--blue); 
}

.password-container {
  position: relative;
}

.invisible-button {
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.invisible-button img {
  width: 24px;
  height: 24px;
}

.input::placeholder {
  color: var(--gray400);
  /* line-height: 24px; */
}

.button {
  /* height: 56px; *//*필요없었음*/
  border: none;
  border-radius: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--gray400);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}

.simple-login {
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.icon-sns {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 0;
}

.img-icn {
  width: 42px;
  height: 42px;
}

.ask-whether-user {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
  color: var(--gray800);
  margin-bottom: 60px;
  word-break: keep-all; /*글자가 단어단위로 잘림*/
}

.user-link {
  color: #3182f6;
}