@import "reset.css";

:root {
  --blue: #3692FF; 
  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray700: #374151;
  --gray600: #72767f;
  --gray500: #72787f;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f7f7f8;
  --skyblue: #E6F2FF;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  width: 640px;
  margin: 60px auto;
}

.signin-box {
  width: 100%; 
}

.logo {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray800);
}

input {
  height: 56px;
  padding: 16px 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  border-style: none;
  background-color: var(--gray100);
  border-radius: 12px;
}

input:focus {
  outline:2px solid var(--blue);
}

input::placeholder {
  color: var(--gray400)
}

button {
  height: 56px;
  border-style: none;
  border-radius: 40px;
  background-color: var(--gray400);
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
}

.sns-signin {
  height: 74px;
  padding: 0 23px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--skyblue);
  border-radius: 8px;
  color: var(--gray800);
  font-weight: 500;
}


.sns a:first-child {
  margin-right: 16px; 
  text-decoration: none;
}

.btm {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

