@import "reset.css";

:root {
  --blue: #3692FF; 
  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray700: #374151;
  --gray600: #72767f;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;
  --skyblue: #cfe5ff;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
  width: 640px;
  margin: 60px auto;
}

.signin-box {
  width: 100%; 
}

.logo {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

input {
  height: 56px;
  padding: 16px 24px;
  margin-top: 16px;
  margin-bottom: 24px;
}

button {
  height: 56px;
}

.sns-signin {
  height: 74px;
  padding: 0 23px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns :first-child {
  margin-right: 16px; 
}

.btm {
  text-align: center;
}