@import "../common/reset.css";
@import "../common/common.css";

/* 배너 및 컨텐츠 헤드라인 폰트 */
.headline {
    font-size: 4rem;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
}

.header__fixed {
    width: 100vw;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 153px;
    height: 51px;
    margin-left: 200px;
}

.logo__img {
    width: 100%;
}

.login__button {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    background-color: #3692ff;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 48px;
    margin-right: 200px;
}

.header-banner {
    width: 100vw;
    height: 610px;
    background-color: #cfe5ff;
    border-top: 1px solid #dfdfdf;
}

.header-banner__wrap {
    width: 1200px;
    height: 100%;
    position: relative;
}

.header-banner__contents {
    position: absolute;
    top: 240px;
    left: 0;
}

.header-banner__button {
    display: block;
    margin-top: 32px;
    width: 355px;
    height: 56px;
    border-radius: 40px;
    background-color: #3692ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-align: center;
    line-height: 56px;
}

.header-banner__img {
    width: 996px;
    height: 447px;
    position: absolute;
    right: -150px;
    bottom: 0;
}

main, .wrap {
    width: 1200px;
    margin: 0 auto;
}

section {
    height: 720px;
    display: flex;
    align-items: center;
    gap: 64px;
}

.section__img {
    width: 588px;
    height: 444px;
}

.section__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #3692ff;
}

.section__desc {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: #374151;
}

.section__headline {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    margin: 24px 0;
}

.section__search__flex-reverse {
    flex-direction: row-reverse;
}

.bottom-banner {
    width: 100vw;
    height: 540px;
    background-color: #cfe5ff;
    margin-top: 241px;
}

.bottom-banner__wrap {
    height: 540px;
    position: relative;
}

.bottom-banner__headline {
    position: absolute;
    top: 214px;
    left: 0;
}

.bottom-banner__img {
    width: 996px;
    height: 540px;
    position: absolute;
    bottom: 0;
    right: -150px;
}

footer {
    width: 100vw;
    height: 160px;
    padding: 32px 200px;
    background-color: #111827;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    font-size: 16px;
    font-weight: 400;
    color: #9ca3af;
}

.footer__list {
    display: flex;
}

.footer__policy-list {
    gap: 30px;
}

.footer__privacy-link {
    font-size: 16px;
    font-weight: 400;
    color: #e5e7eb;
}

.footer__sns-list {
    gap: 12px;
}