@charset "utf-8";


/****************** heather *********************/
header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:10px 200px;
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#fff;
  border-bottom:1px solid #dfdfdf;
  z-index:9999;
}
header button{
  padding:120x 20px;
  display:block;
  width:128px;
  height:48px;
  border-radius:8px;
}
  @media screen and (max-width: 1200px) {
    header{
      padding:10px 24px;
    }
  }
  @media screen and (max-width: 768px) {
    header{
      padding:16px;
    }
  }
/****************** CSS seting *********************/
.container{
  margin:0 auto;
  width:100%;
  max-width:1200px;
}
button{
  cursor:pointer;
}
:root{
    --brand_blue:#3692FF;
    --brand_sky:#CFE5FF;
    --brand_sky_light:#E6F2FF;
    --hover_dark_blue:#1967D6;
    --cool_gray:#374151;
    --cool_tray_lignt:#F3F4F6;
}
.brand_b{
  background-color:var(--brand_blue);
  color:#fff;
  transition:all 0.5s;
}
.brand_b:hover{
  background-color:var(--hover_dark_blue);
}

/****************** main *********************/
.main_banner{
  width:100%;
  height:540px;
  background-color:var(--brand_sky);
  background-image:url(../images/Img_home_top.png);
  background-repeat:no-repeat;
  background-position:74% bottom;
}
.main_banner .banner_wrap{
  margin:0 auto;
  width:100%;
  height:100%;
  max-width:1200px;
  display:flex;
  align-items:center;
  gap:40px;
}
.main_banner .banner_wrap button{
  margin-top:20px;
  padding:20px;
  width:355px;
  font-size:20px;
  border-radius:200px;
}
.main_banner .banner_wrap .banner_txt{
  width:50%;
}
.main_banner .banner_wrap .banner_txt p{
  font-weight:700;
  font-size:40px;
  line-height:56px;
  color:var(--cool_gray);
}

.introduction{
  padding:100px 0;
  display:flex;
  justify-content:space-between;
}
.introduction img{
  flex-basis:50%;
}
.introduction .intro_txt {
  padding:40px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-basis:50%;
}
.introduction:nth-child(2n) img {
  text-align:right;
  order:2;
}
.introduction:nth-child(2n) .intro_txt {
  text-align:right;
  order:1;
}
.introduction .intro_txt span{
  font-size:18px;
  color:var(--brand_blue);
  font-weight:700;
}
.introduction .intro_txt p{
  color:var(--cool_gray);
  font-size:24px;
}
.introduction .intro_txt p.txt_big{
  margin-bottom:20px;
  font-size:40px;
  line-height:56px;
  font-weight:700;
}
.bottom_banner{
  width:100%;
  height:540px;
  background-color:var(--brand_sky);
  background-image:url(.././images/Img_home_bottom.png);
  background-repeat:no-repeat;
  background-position:74% bottom;
}
.bottom_banner .bt_container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
}
.bottom_banner .bt_container p{
  font-size:40px;
  font-weight:700;
  color:var(--cool_gray);
}
  @media screen and (max-width: 1200px) {
    .main_banner{
      height:770px;
      background-position:center bottom;
    }
    .main_banner .banner_wrap .banner_txt{
      position:relative;
      bottom:100px;
      width:100%;
      text-align:center;
    }
    .introduction{
      padding:16px;
      flex-direction:column;
    }
    .introduction .intro_txt{
      padding:16px 0 0 0;
    }
    .introduction:nth-child(2n) img {
      text-align:right;
      order:1;
    }
    .introduction:nth-child(2n) .intro_txt {
      text-align:right;
      order:2;
    }
    .bottom_banner{
      height:927px;
    }
    .bottom_banner .bt_container{
      position:relative;
      bottom:100px;
      text-align:center;
    }
  }
  @media screen and (max-width: 768px) {
    .bottom_banner{
      height:540px;
    }
  }
/****************** footer *********************/
footer{
  padding:32px 200px;
  background-color:#111827;
}
footer .footer_wrap{
  display:flex;
  justify-content:space-between;
}
footer .footer_wrap p{
  color:#9CA3AF;
}
footer .footer_wrap .page_link ul{
  display:flex;
  gap:60px;
}
footer .footer_wrap .page_link ul li a{
  color:#E5E7EB;
}
footer .footer_wrap .sns_link ul{
  display:flex;
  gap:20px;
}
/****************** signin *********************/
.form_header{
  padding:60px 0 0 0;
  border:0;
}
.form_header h1{
  text-align:center;
}
.user_form_wrap{
  display:flex;
  flex-direction:column;
  gap:20px;
  margin:20px auto;
  width:100%;
  max-width:640px;
}
.user_form_wrap .form_wrap{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.user_form_wrap .form_wrap label{
  font-size:18px;
  font-weight:700;
  color:#1F2937;
}

.user_form_wrap .form_wrap button{
  padding:20px 0;
  border-radius:200px;
  background-color:#9CA3AF;
  font-size:20px;
  color:#fff;
  transition:all 0.5s;
}
.user_form_wrap .form_wrap button:hover{
  background-color:var(--brand_blue);
  color:#fff;
}
.sns_login_wrap{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  margin:0 auto;
  width:100%;
  max-width:600px;
  background-color:var(--brand_sky_light);
}
.user_form_wrap .form_wrap .input_wrap{
  padding:20px;
  display:flex;
  flex-direction:space-between;
  align-items:center;
  border-radius:12px;
  background-color:var(--cool_tray_lignt);
}
.user_form_wrap .form_wrap .input_wrap input{
  flex-grow:1;
  background:none;
}
.user_form_wrap .form_wrap .input_wrap input:focus{
  border-bottom:1px solid var(--brand_blue);
}
.sns_login_wrap p{
  font-weight:500;
  color:#1F2937;
}
.sns_login_wrap ul{
  display:flex;
  gap:20px;
}
.sign_in_ask{
  padding:20px 0;
  color:#1F2937;
  text-align:center;
  font-size:15px;
}
.sign_in_ask a{
  color:#3182F6;
}
/****************** signinup *********************/



