/* 헤더 */
#header {
  padding: 11px 0;
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 10;
}

#header .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#header .logo {
  gap: 0 8px;
}

#header .logo-img {
  width: 40px;
  height: 40px;
}

#header .button {
  width: 128px;
  height: 48px;
}

/* 배너 공통 */
.banner {
  background-color: #CFE5FF;
  overflow: hidden;
}

.banner .container {
  position: relative;
  padding: 170px 0;
  max-width: calc(1920px - 442px);
}

.banner .main-text p.description {
  font-size: var(--font-40);
  font-weight: 700;
  line-height: 1.4;
  color: var(--gray-700);
  margin: 0;
}

.banner .banner-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner .main-text {
  z-index: 1;
  width: 1200px;
}

/* 구경하러 가기 배너 */
.item-banner .main-text a.button {
  width: 355px;
  margin: var(--margin-32) 0 0;
  font-size: var(--font-20);
  font-weight: 600;
  padding: 16px 0;
  border-radius: 30px;
}

/* 메인 영역 */
main.introduce-section {
  padding: 138px 0;
  display: grid;
  gap: 138px;
}

main.introduce-section > article {
  display: flex;
  gap: 0 64px;
  align-items: center;
}

main.introduce-section > article.reverse {
  flex-direction: row-reverse;
}

main.introduce-section > article .img-area {
  max-width: 588px;
  flex: 1;
}

main.introduce-section .text-area .keyword {
  color: var(--blue);
  font-size: var(--font-18);
  font-weight: 700;
  line-height: 1.4;
}

main.introduce-section .text-area .title {
  color: var(--gray-700);
  font-size: var(--font-40);
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin: var(--margin-12) 0 var(--margin-24);
}

main.introduce-section .text-area .detail {
  color: var(--gray-700);
  font-size: var(--font-24);
  font-weight: 500;
  letter-spacing: 0.08em;
  text-align: left;
}

/* 하단 배너 */
.bottom-banner .container {
  padding: 214px 0;
}

.bottom-banner .container .banner-img,
.bottom-banner .container .banner-img img {
  max-height: 540px;
}

/* 푸터 */
footer {
  padding: 32px 0 108px;
  background-color: #111827;
}

footer .inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

footer .inner .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .copyright {
  color: #9ca3af;
  font-size: var(--font-16);
  font-weight: 400;
  flex: 1;
}

footer .page-link {
  font-size: var(--font-16);
  font-weight: 400;
  text-align: center;
}

footer .page-link a {
  color: var(--gray-200);
}

footer .page-link a:not(:last-of-type) {
  margin-right: 3rem;
}

footer .sns-link {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  flex: 1;
}

footer .sns-link > a {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

footer .sns-link a.facebook {
  background-image: url(../img/ic_facebook.svg);
}

footer .sns-link a.twitter {
  background-image: url(../img/ic_twitter.png);
}

footer .sns-link a.youtube {
  background-image: url(../img/ic_youtube.png);
}

footer .sns-link a.instagram {
  background-image: url(../img/ic_instagram.svg);
}
/* 메인페이지 완성 */

/* 로그인, 회원가입 페이지 공통 */
.authentication-page {
  max-width: 640px;
  margin: 0 auto;
  padding: 60px 30px;
  box-sizing: content-box;
}

.authentication-page .logo {
  gap: 22px;
}

.authentication-page .logo-img {
  width: 103px;
  height: 103px;
}

.authentication-page .logo-text {
  font-size: var(--font-66);
  line-height: 1.4;
}

.authentication-page .auth-form {
  margin: 4rem 0 0;
  display: grid;
  gap: 24px;
}

.authentication-page .input-wrapper {
  display: grid;
}

.authentication-page .input-wrapper label {
  font-size: var(--font-18);
  color: var(--gray-800);
  font-weight: 700;
  margin: 0 0 var(--margin-16);
}

.authentication-page .input-wrapper input {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray-100);
  font-size: var(--font-16);
  font-weight: 400;
  color: var(--gray-800);
  line-height: 1.5;
  outline: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.authentication-page .input-wrapper input[type="password"] {
  padding-right: 60px;
}

.authentication-page .input-wrapper input::placeholder {
  color: var(--gray-400);
}

.authentication-page .input-wrapper input:focus-visible {
  outline-color: var(--blue);
}

.authentication-page .password-group .input-icon {
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
}

.authentication-page .auth-form button {
  padding: 14px 16px;
  border-radius: 28px;
  color: var(--white);
  font-size: var(--font-20);
  line-height: 1.4;
  font-weight: 600;
}

.authentication-page .auth-form button.off {
  background-color: #9CA3AF;
}

.authentication-page .social-login {
  border-radius: 8px;
  margin: var(--margin-24) 0;
  padding: 16px 24px;
  background-color: #E6F2FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.authentication-page .social-login-text {
  color: var(--gray-800);
  font-size: var(--font-16);
  font-weight: 500;
  line-height: 1.5;
}

.authentication-page .social-login-icon {
  display: flex;
  align-items: center;
}

.authentication-page .social-login-icon .icon {
  width: 42px;
  height: 42px;
}

.authentication-page .social-login-icon .icon:not(:last-of-type) {
  margin-right: var(--margin-16);
}

.authentication-page .link {
  font-size: var(--font-15);
  font-weight: 500;
  color: var(--gray-800);
  text-align: center;
}

.authentication-page .link a {
  margin-left: 0.4rem;
  color: #3182F6;
  text-decoration: underline;
}


/* Tablet */
@media (max-width: 1199px) {
  /* 메인 페이지 */
  .banner .container {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }

  .banner .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0 100px;
  }

  .item-banner .main-text a.button {
    padding: 18px 0;
    margin: var(--margin-24) 0 0;
  }

  .banner .banner-img {
    position: unset;
    max-width: 996px;
    width: calc(100% + 250px);
  }

  main.introduce-section {
    padding: 24px 0 80px;
    gap: 64px;
  }

  main.introduce-section > article,
  main.introduce-section > article.reverse {
    flex-direction: column;
  }

  main.introduce-section > article .img-area {
    max-width: 100%;
  }

  main.introduce-section > article .text-area {
    width: 100%;
    padding: 20px 0 0;
  }

  main.introduce-section > article.reverse .text-area p {
    text-align: right;
  }

  main.introduce-section .text-area .title {
    font-size: var(--font-32);
    margin: var(--margin-12) 0 var(--margin-20);
  }

  main.introduce-section .text-area .detail {
    font-size: var(--font-18);
  }

  .bottom-banner .main-text {
    padding: 200px 0 75px;
  }

  footer .inner {
    padding: 0 104px;
  }
}


/* Mobile */
@media (max-width: 767px) {
  .banner .main-text {
    width: 100%;
    padding: 55px 0 48px;
  }

  .banner .main-text p.description {
    text-align: center;
    font-size: var(--font-32);
  }

  .item-banner .main-text a.button {
    margin: 1.8rem 0 0;
    padding: 1.2rem 0;
    width: 154px;
    font-size: var(--font-16);
  }

  main.introduce-section {
    padding: 50px 0 65px;
  }

  main.introduce-section .text-area .keyword {
    font-size: var(--font-16);
  }

  main.introduce-section .text-area .title {
    margin-top: 0.8rem;
    font-size: var(--font-24);
  }

  main.introduce-section .text-area .detail {
    font-size: 1.6rem;
  }

  .bottom-banner .main-text {
    padding: 120px 0 60px;
  }

  .bottom-banner .banner-img {
    width: calc(100% + 120px);
  }

  footer {
    padding: 32px 0;
  }

  footer .inner {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
  }

  footer .inner .left {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
  }
}