* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px
}

body{
    background-color: #ffffff;
    margin:0;
}

.wrap{
    width: 100%;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

header {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height:70px;
    padding:0 200px;
    z-index: 1;
}
    

.login_btn {
    background: #3692FF;
    border:none;
    outline: none;
    width: 128px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
}



h2 {
    color: #374151;
    font-size: 4rem;
}

h3 {
    color: #374151;
    font-size: 2.4rem;
}

.background-sky{
    width: 100%;
    background-color: #CFE5FF;
    height: 540px;
}


.top-bottom-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:540px;
}

.top-bottom-title .bold-txt {
    color: #374151;
    font-size: 4rem;
    font-weight: 700;
    line-height: 56px;
}

.top_contents_btn {
    background: #3692FF;
    border:none;
    outline: none;
    width: 357px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 30px;
    margin-top: 32px;
}

.top-bottom-img {
    position: absolute;
    bottom: -3px;
    right: -137px;
}

.main-title{
    color: #3692FF;
    font-size: 1.8rem;
    font-weight: bold;
}

.disc-img img{
    width: 588px;
    height: 444px;
}

.discription li{
    display: flex;
    align-items: center;
    padding: 138px 0;
}

.li-right{
    display: absolute;
    right: 0;
}

.disc-txt{
    margin: 60px;
}

.disc-txt-right{
    text-align: right;
    margin-right: 60px;
}


footer {
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    padding: 32px 200px 0;
    height: 160px;
}

footer .year {
    color: #9CA3AF;
}

footer .link {
    display: flex;
    align-items: center;
    gap: 30px;
}
footer .link a{
    text-decoration: none;
    color: #E5E7EB;
}

footer .sns-link {
    display: flex;
    align-items: center;
    gap: 9px
}