body {
  background-color: var(--color-bg);
}
/* PC */
/* 배너 및 컨텐츠 헤드라인 폰트 */
.headline {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #374151;
}

.nav__fixed {
  width: 100vw;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.logo {
  width: 153px;
  height: 51px;
  margin-left: 200px;
}

.logo__img {
  width: 100%;
}

.login__button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--color-blue);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  line-height: 48px;
  margin-right: 200px;
}

.header-banner {
  width: 100vw;
  height: 610px;
  background-color: #cfe5ff;
  border-top: 1px solid #dfdfdf;
}

.header-banner__wrap {
  width: 1200px;
  height: 100%;
  position: relative;
}

.header-banner__contents {
  position: absolute;
  top: 240px;
  left: 0;
}

.header-banner__button {
  display: block;
  margin-top: 32px;
  width: 355px;
  height: 56px;
  border-radius: 40px;
  background-color: var(--color-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  text-align: center;
  line-height: 56px;
}

.header-banner__img {
  width: 996px;
  position: absolute;
  right: -150px;
  bottom: 0;
}

main,
.wrap {
  width: 1200px;
  margin: 0 auto;
}

.section {
  height: 720px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.section__img {
  width: 588px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--color-blue);
}

.section__desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #374151;
}

.section__headline {
  margin: 24px 0;
}

.section__search__flex-reverse {
  flex-direction: row-reverse;
}

.search__content__text-end {
  text-align: end;
}

.bottom-banner {
  width: 100vw;
  height: 540px;
  background-color: #cfe5ff;
  margin-top: 241px;
}

.bottom-banner__wrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.bottom-banner__headline {
  position: absolute;
  top: 214px;
  left: 0;
}

.bottom-banner__img {
  width: 996px;
  height: 540px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  width: 100vw;
  height: 160px;
  padding: 32px 200px;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

.footer__list {
  display: flex;
}

.footer__policy-list {
  gap: 30px;
}

.footer__privacy-link {
  font-size: 16px;
  font-weight: 400;
  color: #e5e7eb;
}

.footer__sns-list {
  gap: 12px;
}

/* Tablet */
@media screen and (max-width: 1199px) {
  .logo {
    margin-left: 24px;
  }

  .login__button {
    margin-right: 24px;
  }

  .header-banner {
    height: 841px;
  }

  .headline {
    display: block;
  }

  .header-banner__wrap {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  .header-banner__contents {
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-banner__img {
    position: initial;
    margin-top: 40px;
  }

  main,
  .wrap {
    width: calc(100vw - 48px);
    margin: 0 auto;
  }

  main {
    margin-top: 24px;
  }

  .section {
    display: initial;
  }

  .section__img {
    width: 100%;
  }

  .section__title {
    margin-top: 24px;
  }

  .section__headline {
    font-size: 32px;
    margin: 12px 0 24px 0;
    line-height: 44px;
  }

  .section__desc {
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 60px;
  }

  .bottom-banner {
    height: 927px;
    margin-top: 0;
  }

  .bottom-banner__wrap {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 70px;
  }

  .bottom-banner__headline {
    position: initial;
    text-align: center;
  }

  .bottom-banner__img {
    position: initial;
  }

  .footer {
    padding: 32px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .logo {
    margin-left: 16px;
  }

  .login__button {
    margin-right: 16px;
  }

  .header-banner {
    height: 610px;
  }

  .header-banner__img {
    width: 626px;
  }

  .header-banner__button {
    width: 154px;
    height: 48px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 48px;
    margin-top: 16px;
  }
  
  .header-banner__headline {
    display: flex;
    align-items: center;
  }

  main {
    margin-top: 60px;
  }

  .section__title {
    margin-top: 16px;
  }

  .section__headline {
    font-size: 24px;
  }

  .section__desc {
    font-size: 16px;
    line-height: 21.6px;
    margin-bottom: 60px;
  }

  .bottom-banner {
    height: 540px;
  }

  .bottom-banner__wrap {
    padding-top: 121px;
  }

  .bottom-banner__img {
    width: 498px;
  }

  .footer {
    position: relative;
  }

  .footer__info {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }
}
