body {
  background-color: var(--color-bg);
}

.header {
  width: 396px;
  height: 132px;
  margin: 60px auto;
}

.main-container {
  width: 640px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  gap: 24px;
}

.user-form {
  display: grid;
  gap: 24px;
}

.user-form__label {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.user-form__input {
  width: 100%;
  height: 56px;
  padding-left: 24px;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-gray);
}

.user-form__input:focus {
  border: 1px solid var(--color-blue);
}

.user-form__password-input {
  position: relative;
}

.password__visibility-button {
  width: 24px;
  height: 24px;
  background-image: url('../assets/images/icon/btn_visibility_off.png');
  position: absolute;
  top: calc((var(--input-height) - var(--button-height)) / 2);
  right: calc((var(--input-height) - var(--button-height)) / 2);
}

.visibility {
  background-image: url('../assets/images/icon/btn_visibility_on.png');
}

.user-form__button {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  background-color: var(--color-gray);
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.easy-login {
  width: 100%;
  height: 74px;
  padding: 0 23px;
  border-radius: 8px;
  background-color: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.easy-login__desc {
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
}

.easy-login__icons__flex {
  display: flex;
  gap: 16px;
}

.easy-login__icon {
  display: block;
  width: 42px;
  height: 42px;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  font-size: 15px;
  font-weight: 500;
  color: #1f2937;
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .header {
    width: 198px;
    margin-bottom: 0;
  }

  .main-container {
    width: calc(100vw - 32px);
    max-width: 400px;
  }
}