:root {
  --blue: #3691ff;
  --skyblue: #cfe5ff;
  --gray50: #f7f7f8;
  --gray100: #e8ebed;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #72787f;
  --gray600: #454c53;
  --gray800: #26282b;
  --gray900: #111827;
}
