@import "../../index.css";

.login-form {
  max-width: 640px;
  margin: 0 auto;
}

.login-logo {
  position: relative;
  width: 396px;
  height: 132px;
  top: 60px;
  left: 122px;
}

.main-login {
  position: absolute;
  width: 640px;
  height: 430px;
  top: 208px;
  text-align: left;
}

.main-login label {
  color: var(--cool-gray800);
  font-weight: 700;
  font-size: 18px;
  line-height: 28.8px;
}

.loginid {
  width: 100%;
  height: 56px;
  background-color: var(--cool-gray100);
  color: var(--gray800);
  border-radius: 12px;
  border: 0;
  gap: 10px;
  margin-top: 16px;
  padding-left: 16px;
}

.loginid:focus {
  outline: solid var(--brand-blue);
}

.loginpw {
  width: 100%;
  height: 56px;
  background-color: var(--cool-gray100);
  color: var(--gray800);
  padding-left: 16px;
  border-radius: 12px;
  border: 0;
  gap: 10px;
  margin-top: 16px;
}

.loginpw:focus {
  outline: solid var(--brand-blue);
}

.login-password {
  position: relative;
  margin-top: 24px;
}

.password-eye {
  background-image: url("../../assets/logo/ic-noeye.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 60px;
}

.login-btn {
  width: 100%;
  background-color: var(--cool-gray400);
  color: var(--color-white);
  padding: 16px 124px;
  margin: 24px 0;
  border: 0;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.login-btn.active {
  background-color: var(--brand-blue);
}

/*오류메시지*/
.hide {
  display: none;
}

.message {
  position: relative;
  left: 16px;
  top: 8px;
  color: var(--error-red);
  font-size: 15px;
  font-weight: 600;
  line-height: 17.9px;
}

.login-simple {
  background-color: var(--blue50);
  max-width: 100%;
  height: 74px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 23px;
  border: 0;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  color: var(--cool-gray800);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.login-social a {
  text-decoration-line: none;
}

.login-social img {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}

.login-bottom {
  width: 210px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 24px;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
}

#join-page {
  color: var(--blue800);
  text-decoration-color: var(--blue800);
}

/*Tablet: 768px 이상 ~ 1199px 이하*/
@media (max-width: 1199px) {
  .login-logo {
    top: 48px;
  }

  .main-login {
    top: 220px;
  }
}

/*Mobile: 375px 이상 ~ 767px 이하*/
@media (max-width: 767px) {
  .login-form {
    max-width: 400px;
    padding: 0;
  }

  .login-logo {
    position: relative;
    width: 198px;
    height: 66px;
    top: 24px;
    left: calc(50% - 99px);
  }

  .main-login {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 391px;
    top: 24px;
    padding: 0 16px;
  }

  .main-login label {
    font-size: 14px;
    line-height: 16.71px;
  }

  .loginid {
    margin-top: 8px;
  }

  .login-password {
    margin-top: 16px;
  }

  .loginpw {
    margin-top: 8px;
  }

  .password-eye {
    top: 46px;
  }
}
