* {
    box-sizing: border-box;
  }
  
  html {
    font-family: Pretendard, sans-serif;
  }
  
  body {
    background: #fff;
    margin: -8px;
  }

  header {
    padding: 8px 200px;
    height: 70px;
    color: #fff;
    border-bottom: 1px solid #DFDFDF;
  }

.header_image {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

header > .logo {
  width: 153px;
  height: 51px;
}

.top_main {
  height: 540px;
  background-image: url(../assets/Img_home_top.png);
  background-repeat: no-repeat;
  background-size: 996px 447px;
  background-position: bottom;
  background-color: skyblue;
}

footer {
  background-color: #111827;
  height: 160px;
}

footer > .icon {
  width: 20px;
  height: 20px;
}

.footer-content {
  padding: 30px 200px 0;
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.footer-info {
  display: flex;
  gap: 12px;
}

.footer-content .word {
  color: #9CA3AF;
}

.footer-content .links {
  display: flex;
  gap: 30px;
}

.links a {
  color: #E5E7EB;
  text-decoration-line: none;
}