* {
    box-sizing: border-box;
  }
  
  /* html {
  } */
  
  body {
    width: 1920px;
    height: 3608px;
    background: #fff;
  }

  header {
    width: 100%;
    padding: 4px 200px 8px;
    height: 70px;
    color: #fff;
    border-bottom: 1px solid #DFDFDF;
  }

.header_imgage {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
}

header > .logo {
  width: 153px;
  height: 51px;
}