* {
    box-sizing: border-box;
  }
  
  /* html {
  } */
  
  body {
    width: 1920px;
    height: 3608px;
    top: -1840px;
    left: -938px;
    background: #FFFFFF;
  }

  header {
    width: 1920px;
    padding: 10px 200px 9px 200px;
    height: 70px;
    border: 0 0 1px 0;
    color: #ffffff;
    border-bottom: 1px solid #DFDFDF;
  }

.header_imgage {
    width: 1,520px;
    height: 51px;
    top: 10px;
    left: 200px;
    display: flex;
    justify-content: space-between;
}

header > .button {
  width: 128px;
  height: 48px;
  border-radius: 8px;
}