
.header {
    width: 1920px;
    height: 70px;
    padding: 10px 200px 9px 200px;
    border: 0px 0px 1px 0px;
}


.header-frame{
    display:flex;
    width: 1,520px;
    height: 51px;
    top: 10px;
    left: 200px;
    bottom : 9px;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}
#logo{
    width: 153px;
    height: 51px;
    padding: 5.016802787780762px 0px 5.847805976867676px 0px;

}
#login{
    display : block;
    margin-right : 200px;
    padding : 0px 200px 0px 0px;
    <a href="/signin">로그인</a>

    
}
.header-content{
    background-color: #CFE5FF;
    width : 1920px;
    height : 540px;
    position : relative;
}
.header-content #home_top {
    width: 996px;
    height: 447px;
    top: 93px;
    left: 701px;
    width: 996px;
    padding: 93px 223px 0px 701px;

    /* padding: 30, 0, 0, 0; */

}
.header-content .header-description{
    /* display : block; */
    top:170px;
    left:360px;
    right : 1205px;
    bottom : 170px;
    width: 355px;
    height:200px;
    position : absolute;
}

.headerSaying{
    color : #374151;
    font-family: "Pretendard";
    font-weight: 700;
    font-size:40px;
    line-height: 56px;
}
#header_click{
    width: 355px;
    height: 56px;

}
.container{
    width: 1200px;
    height: 2838px;
    top: 610px;
    left: 360px;
}
.section1{
    width: 1920px ;
    height: 720px ;
    /* padding: 138 360 138 591 */
    background-color :#FFFFFF;
    position : relative;
}
.section1-box{
    right: 605px;
    bottom: 138.5px;
    position: absolute;
    width:955px; 
    height:444px;
    top: 137.5px; 
    left: 360px; 
    gap: 64px;
    
}
#home_01{
    position : absolute;
    width: 588px ;
    height: 444px;
    left :0px;
    top : 0px;
}
.section1-description {
    position : absolute;
    width : 303px;
    height : 231px;
    gap : 12px;
    /* justify-content: flex-end; */
    top : 106.5px;
    bottom: 106.5px;
    left : 652px;
    gap : 64px;
}
.hotitem{
    color: #3692FF;
    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: justify;
}
.section1-big{
    color: #374151;
    font-family: "Pretendard";
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-align: left;
}
.section1-small{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-align:left;
    color : #374151;
}
.section2{
    width: 1920px;
    height: 720px;
    background-color: #FFFFFF;
    position: relative;
}
.section2-box{
    top: 138px;
    right:360px;
    bottom:138px;
    left:591px;
    position : absolute;
    display : flex;
    flex-direction: row-reverse;
}
#home-02{
    width: 588px ;
    height: 444px;
    right : 0px;
    bottom : 0px;
    left : 381px
    /* position: absolute; */
}
.search{
    color: #3692FF;
    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
}
.section2-big{
    color: #374151;
    font-family: "Pretendard";
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-align: left;
    display : flex;
    align-items: flex-end;
}
.section-small{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #374151;
}


.section3{
    width: 1920px ;
    height: 720px ;
    /* padding: 138 360 138 591 */
    background-color :#FFFFFF;
    position : relative;
}
.section3-box{
    right: 538px;
    bottom: 138px;
    position: relative;
    width:955px; 
    height:444px;
    top: 138px; 
    left: 360px; 
    /* gap: 64px; */
    
}
.Register{
    color: #3692FF;
    font-family: "Pretendard";
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
}
.section3-description {
    position : absolute;
    gap : 12px;
    top : 106.5px;
    bottom: 106.5px;
    left : 652px;
    right : 0px;
}
.section3-big{
    color: #374151;
    font-family: "Pretendard";
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    /* text-align: left; */
}
.section3-small{
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0.08em;
    /* text-align:left; */
    color : #374151;
}
.section4{
    background-color: #CFE5FF;
    width : 1920px;
    height : 540px;
    position : relative;
}
#home_bottom{
    right: 223px;
    left : 701px;
    position: absolute;
}
.section4-description{
    color :#374151;
    width: 286px;
    height: 112px;
    position : absolute;
    top: 214px;
    right: 1274px;
    bottom: 214px;
    left : 360px;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
}
.footer{
    width: 1,920px;
    height: 160px;
    top: 3448px;
    gap: 10px;
    background-color :#111827;
}
.footerFrame{
    display : flex;
    width: 1,520px;
    height: 20px;
    justify-content: space-between; 
}
.codeit{
    color : #9CA3AF;
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;


}
.faq{
    color:#E5E7EB;
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}