* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: "Noto Sans KR", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.logo-image {
  width: 153px;
  cursor: pointer;
}

.login-btn {
  padding: 12px 20px;
  border-radius: 8px;
  background: #3692ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
