/*초기 설정*/
*{
    font-family: "Pretendard";
    margin: 0;
}
p{
    font-weight: 400;
    font-size: 16px;
}
a{
    text-decoration: none;
}
ul, li, ol, dl{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.img_responsive{
    width: auto;
    max-width: 100%;
}

/*header*/
.head_area{
    padding: 8px 200px;
    overflow: hidden;
}
.head_area #logo{
    display: inline-block;
}
.head_area #logo img {
    width: 100%;
    max-height: 50px;
    display: block;
}
.head_area #login{
    padding: 14px 43px;
    background: #3692FF;
    border-radius: 8px;
    color: #fff;
    float: right;
    margin-top: 4px;
}

/*main*/
.main_banner{
    width: 100%;
    background: #CFE5FF;
    height: 540px;
    position: relative;
}
.main_banner .banner_text{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.main_banner .banner_text h2{
    font-size: 40px;
    margin-bottom: 32px;
    line-height: 56px;
}
.main_banner .banner_text a{
    color: #fff;
    background: #3692FF;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    padding: 16px 123px;
    font-size: 20px;
    font-weight: 600;
}
.main_banner .banner_img img{
    width: 996px;
    height: 447px;
    position: absolute;
    bottom: 0;
    right: 15%;
}

.main_con{padding: 138px 0;}
.main_con .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.main_con_text h3 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 56px;
}

.main_con_text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.main_con_text .main_badge {
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}
.main_con2 .main_con_text{text-align: right;}

.btm_banner{width: 100%;
    background: #cfe5ff;}
.btm_banner_inner{    position: relative;
    height: 540px;}
.btm_banner_inner h3{    font-size: 40px;
    line-height: 56px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);}
.btm_banner_inner img{    position: absolute;
    right: -15%;
    bottom: 0;
    max-height: 540px;
}

/*footer*/
footer{
    background: #111827;
    padding: 30px 200px;
}
.footer_inner {
    display: flex;
    justify-content: space-between;
}

.footer_inner p {
    color: #9ca3af;
}
.footer_inner ul li {
    display: inline-block;
    margin: 0 20px;
}
.footer_inner ul.sns li{
    margin: 0 8px;
} 
.footer_inner ul li a{
    color: #fff;
}