:root {
  --gray-900: #1b1d1f;
  --gray-700: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  --blue-primary: #3692ff;
  --blue-hover: #1967d6;
  --blue-active: #1251aa;
  --blue-disabled: #9ca3af;

  --red-primary: #f74747;

  --banner-bg: #cfe5ff;
  --footer-bg: #111827;

  --white: #ffffff;
  --typography: #374151;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@media (max-width: 1023px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: 'Pretendard-Regular';
}

* {
  box-sizing: border-box;
}
