:root {
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f3f4f6;

  --blue-primary: #3692ff;
  --blue-hover: #1967d6;
  --blue-active: #1251aa;
  --blue-disabled: #9ca3af;

  --red-primary: #f74747;

  --banner-bg: #cfe5ff;
  --social-login: #e6f2ff;

  --white-primary: #ffffff;
  --typography: #374151;
  --link-typography: #3182f6;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

body {
  font-family: 'Pretendard-Regular';
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}
