@import '/styles/reset.css';
@import '/styles/base.css';

/* header */
body {
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    margin: 0;
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo img {
    width: 15.3rem;
    height: 5.1rem;
}

.header_button {
    min-width: 12.8rem;
    height: 4.8rem;
    padding: 1.2rem 2rem;
    background-color: var(--color-brand-blue);
    border-radius: 8px;
}

.header_button a {
    color: white;
    font-size: 16px;
}

/* Main_banner */
.main_banner_container {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
}

.main_banner_wrap {
    width: 192rem;
    height: 54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_banner_text {
    width: 120rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    z-index: 999;
}

.main_banner_text .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    color: var(--color-cool-gray700);
}

.main_banner_btn {
    display: block;
    width: 35.5rem;
    height: 5.6rem;
    border-radius: 40px;
    background-color: var(--color-brand-blue);
}

.main_banner_btn a {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.main_banner_img {
    max-width: 996px;
    position: absolute;
    bottom: -0.15rem;
    right: 10%;
}

/* Main_info */
.main_info_container {
    width: 100%;
}

.main_info_background {
    margin: auto;
    width: 120rem;
}

.main_info {
    width: 120rem;
    height: 72rem;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 4rem;
}

.main_info .img_wrap {
    max-width: 588px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_info img,
.main_info_second img {
    width: 100%;
}

.main_info .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.main_info .blue-title,
.main_info_second .blue-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-brand-blue);
    line-height: 2.52rem;
}

.main_info .title,
.main_info_second .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    color: var(--color-cool-gray700);
}

.main_info .description,
.main_info_second .description {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.88rem;
    color: var(--color-cool-gray700);
}

.main_info_second {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas: 'txt img';
    gap: 4rem;
}

.main_info_second .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1.2rem;
    text-align: end;
}

.main_info_second .img_wrap {
    grid-area: img;
    max-width: 588px;
}

.main_info_second .text_wrap {
    grid-area: txt;
}

/* home_bottom */
.bottom_banner_container {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
}

.bottom_banner_wrap {
    width: 192rem;
    height: 54rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom_banner_text {
    width: 120rem;
    display: flex;
    gap: 3.2rem;
    z-index: 999;
}

.bottom_banner_text .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    color: var(--color-cool-gray700);
    display: flex;
    flex-direction: column;
}

.bottom_banner_img {
    max-width: 996px;
    position: absolute;
    bottom: -2px;
    right: 10rem;
}

/* footer */
footer {
    width: 100%;
    height: 16rem;
    background-color: var(--color-cool-gray900);
    color: var(--color-cool-gray400);
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-top: 3.2rem;
}

footer a {
    color: var(--color-cool-gray200);
}

footer img {
    color: var(--color-white);
}

.privacy_footer {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
