* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  padding: 60px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  width: 396px;
  height: 132px;
  margin: 0 auto;
}

.label {
  font-size: 18px;
  font-weight: 700;
}

.input {
  width: 100%;
  height: 56px;
  background-color: #F3F4F6;
  border-radius: 12px;
  border: none;
}

button {
  color: #ffffff;
  border: none;
  border-radius: 40px;
  width: 100%;
  height: 56px;
  background-color: #9CA3AF;
}

.social_login {
  background-color: #E6F2FF;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_text {
  color: #1F2937;
  font-weight: 500;
  font-size: 16px;
}

.social_icon {
  display: flex;
  width: 42px;
  height: 42px;
  gap: 16px;
}

.signup {
  text-align: center;
  font-size: 15px;
}

.signup_link {
  color: #3182F6;
  text-decoration: underline;
}

/* .email {
  width: 100%;
  height: 56px;
}

.password {
  width: 100%;
  height: 56px;
} */