@import './reset.css';
@import './base.css';

/* header */
header {
    width: 100%;
}

.header_wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px;
}

.logo {
    width: 9.5625rem;
    height: 3.1875rem;
    background-image: url(./img/logo/img_logo.png);
    background-size: cover;
}

.header_wrap button {
    width: 8rem;
    height: 3rem;
    background-color: var(--color-brand-blue);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

/* Main_banner */
.main_banner_bg {
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
}

.main_banner {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner .wrap {
    width: 22.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.main_banner span {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--color-cool-gray700);
}

.main_banner button {
    width: 20.9375rem;
    height: 3.5rem;
    border-radius: 2.5rem;
    background-color: var(--color-brand-blue);
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.main_banner_img {
    width: 996px;
    height: 447px;
    display: flex;
    align-items: flex-end;
}

.main_banner img {
    width: 100%;
}

/* Main_info */
.main_info_wrap {
    background-color: white;
}

.main_info_background {
    margin: auto;
    width: 75rem;
}

.main_info {
    height: 45rem;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 4rem;
}

.main_info .img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_info img,
.main_info_second img {
    width: 100%;
    height: 27.75rem;
}

.main_info .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.main_info .blue-title,
.main_info_second .blue-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-brand-blue);
    line-height: 1.575rem;
}

.main_info .title,
.main_info_second .title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--color-cool-gray700);
}

.main_info .description,
.main_info_second .description {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-cool-gray700);
}

.main_info_second {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas: 'txt img';
    gap: 4rem;
}

.main_info_second .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.75rem;
    text-align: end;
}

.main_info_second .img_wrap {
    grid-area: img;
}

.main_info_second .text_wrap {
    grid-area: txt;
}

/* home_bottom */
.bottom_banner {
    background-color: var(--color-background);
    height: 33.75rem;
}

.bottom_banner_wrap {
    margin: auto;
    width: 75rem;
    height: 33.75rem;
    display: flex;
    justify-content: center;
}

.bottom_banner .img_wrap {
    width: 996px;
    height: 540px;
}

.bottom_banner img {
    width: 100%;
    height: 100%;
    position: relative;
}

.bottom_banner .title_wrap {
    display: flex;
    align-items: center;
}

.bottom_banner .title {
    width: 17.875rem;
    color: var(--color-cool-gray700);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 56px;
}

/* footer */

footer {
    height: 10rem;
    background-color: var(--color-cool-gray900);
    color: var(--color-cool-gray400);
    display: flex;
    justify-content: center;
}

.footer_wrap {
    width: 95rem;
    padding: 2rem 12.5rem;
    display: flex;
    justify-content: space-between;
    line-height: 1.1931rem;
}

footer a {
    color: var(--color-cool-gray200);
}

footer img {
    color: var(--color-white);
}

.privacy_footer {
    width: 9.9375rem;
    display: flex;
    justify-content: space-between;
}

/* tablet */
@media (max-width: 767px) {
    /* header */

    .header_wrap {
        margin: 10px 30px;
    }

    .logo {
        width: 7.5rem;
        height: 2.5rem;
    }

    .header_wrap button {
        width: 6rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    /* main banner */

    .main_banner_bg {
        height: 300px;
    }
    .main_banner {
        width: 650px;
    }

    .main_banner .wrap {
        width: 355px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .main_banner span {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.5rem;
        text-align: center;
    }

    .main_banner button {
        width: 15rem;
        height: 3rem;
        border-radius: 2.5rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1rem;
    }

    .main_banner_img {
        width: 500px;
        height: 100%;
    }

    .main_banner img {
        width: 110%;
        height: 85%;
    }

    /* Main info */

    .main_info_background {
        margin: auto;
        width: 600px;
    }

    .main_info {
        height: 400px;
        gap: 2rem;
    }

    .main_info img,
    .main_info_second img {
        height: 280px;
    }

    .main_info .text_wrap {
        gap: 0.4rem;
    }

    .main_info .blue-title,
    .main_info_second .blue-title {
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1rem;
    }

    .main_info .title,
    .main_info_second .title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.5rem;
    }

    .main_info .description,
    .main_info_second .description {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2rem;
    }

    .main_info_second {
        gap: 2rem;
    }

    /* home_bottom */
    .bottom_banner {
        background-color: var(--color-background);
        height: 300px;
    }

    .bottom_banner_wrap {
        margin: auto;
        width: 650px;
        height: 100%;
    }

    .bottom_banner .img_wrap {
        width: 550px;
        height: 300px;
    }

    .bottom_banner .title_wrap {
        height: 300px;
    }

    .bottom_banner .title {
        width: 220px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.5rem;
    }

    /* footer */

    .footer_wrap {
        width: 95rem;
        padding: 1.5rem 10rem;
        line-height: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .privacy_footer {
        margin: auto;
        flex-direction: column;
        line-height: 2rem;
    }
}
