@media screen and (min-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 232px;
  }
  
  .header__logo {
    width: 396px;
  }
  
  .logbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 640px;
    height: 93px;
    gap: 16px;
    opacity: 0px;
    margin: 0 auto;
  }
  
  .logbox__input-box {
    margin-bottom: 24px;
  }
  
  .logbox__input-box-txt {
    width: 640px;
    height: 56px;
    border-radius: 12px;
    padding: 0 20px;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000; 
  }
  
  .logbox__input::placeholder {
    color: #9CA3AF;
  }
  
  .logbox__submit {
    width: 640px;
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px;
    background-color: #9CA3AF;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer; 
  }
  
  .user {
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
    display: block;
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    margin-top: 24px;
    gap: 23px;
    margin-bottom: 24px;
  }
  
  .social-login__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2937;
    margin-left: 23px;
  }
  
  .social-login__btn-group {
    margin-right: 23px;
  }
  
  .social-login__btn-group .social-btn:first-child {
    margin-right: 13px;
  }
  
  .signup {
    margin-top: 24px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #1F2937;
  }
  
  .signup__link {
    color: #3182F6;
    text-decoration: underline;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper__toggle {
    position: absolute;
    top: 16px;
    right: 24px; 
    cursor: pointer;
  }
}

/* Tablet 화면에 대한 스타일 */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .header__logo {
    width: 396px;
  }
  
  .logbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 640px;
    height: 602px;
    gap: 40px;
    opacity: 0px;
    margin: 0 auto;
  }
  
  .logbox__input-box {
    margin-bottom: 24px;
  }
  
  .logbox__input-box-txt {
    width: 640px;
    height: 56px;
    border-radius: 12px;
    padding: 0 20px;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000; 
  }
  
  .logbox__input::placeholder {
    color: #9CA3AF;
  }
  
  .logbox__submit {
    width: 640px;
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px;
    background-color: #9CA3AF;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer; 
  }
  
  .user {
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
    display: block;
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 640px;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    margin-top: 24px;
    gap: 23px;
    margin-bottom: 24px;
  }
  
  .social-login__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2937;
    margin-left: 23px;
  }
  
  .social-login__btn-group {
    margin-right: 23px;
  }
  
  .social-login__btn-group .social-btn:first-child {
    margin-right: 13px;
  }
  
  .signup {
    margin-top: 24px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #1F2937;
  }
  
  .signup__link {
    color: #3182F6;
    text-decoration: underline;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper__toggle {
    position: absolute;
    top: 16px;
    right: 24px; 
    cursor: pointer;
  }
}

/* Mobile 화면에 대한 스타일 */
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .header__logo {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .logbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 602px;
    gap: 40px;
    opacity: 0px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .logbox__input-box-txt,
  .logbox__submit,
  .social-login {
    width: 100%;
  }

  .logbox__input-box {
    margin-bottom: 24px;
  }
  
  .logbox__input-box-txt {
    height: 56px;
    border-radius: 12px;
    padding: 0 20px;
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000; 
  }
  
  .logbox__input::placeholder {
    color: #9CA3AF;
  }
  
  .logbox__submit {
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px;
    background-color: #9CA3AF;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer; 
  }
  
  .user {
    font-size: 18px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 16px;
    display: block;
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    border-radius: 8px;
    background-color: #E6F2FF;
    margin-top: 24px;
    gap: 23px;
    margin-bottom: 24px;
  }
  
  .social-login__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #1F2937;
    margin-left: 23px;
  }
  
  .social-login__btn-group {
    margin-right: 23px;
  }
  
  .social-login__btn-group .social-btn:first-child {
    margin-right: 13px;
  }
  
  .signup {
    margin-top: 24px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: #1F2937;
  }
  
  .signup__link {
    color: #3182F6;
    text-decoration: underline;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .password-wrapper__toggle {
    position: absolute;
    top: 16px;
    right: 24px; 
    cursor: pointer;
  }
}