/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --color-gray900 : #111827;
  --color-gray800 : #1F2937;
  --color-gray600 : #4B5563;
  --color-gray500 : #6B7280;
  --color-gray400 : #9CA3AF;
  --color-gray200 : #E5E7EB;
  --color-gray100 : #F3F4F6;
  --color-gray50 : #F3F4F6;
  --color-blue : #3692FF;
  --color-red : #F74747;
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  word-break: keep-all;
  color: #374151;
}

/* Container */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo */

.logo {
  margin-top: 60px;
  margin-bottom: 40px;
}
.logo img {
  display: block;
  width: 396px;
  height: 132px;
  top: 60px;
  left: 762px;
}

/* inputArea */

.sign-box {
  width: 640px;
  height: 430px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ip-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  color: var(--color-gray800);
}
.ip-box {
  width: 100%;
  border-radius: 12px;
  height: 56px;
  border: none;
  background-color: var(--color-gray100);
  padding-left: 24px;
}
input::placeholder {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-gray400);
}
.password {
  background-image: url('/images/passwordicon.png');
  background-repeat: no-repeat;
  background-position: 95%;
}

/* loginBtn */

.login-bt {
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  gap: 10px;
  border-radius: 40px;
  background-color: var(--color-gray400);
  border: none;
  cursor: pointer;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

/* easyBox */

.easy {
  background-color: #E6F2FF;
  border-radius: 8px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}
.easy > h4 {
  font-size: 16px;
  color: var(--color-gray800);
}
.sns {
  display: flex;
  gap: 16px;
}
.google {
  width: 42px;
  height: 42px;
}

/* signUp */

.signup {
  text-align: center;
  color: var(--color-gray800);
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  line-height: 17.9px;
}
.signup > a {
  color: #3182F6;
}
