* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.logo {
  margin-left: 200px;
} 

header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.login {
  background-color: #3692FF;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  border: none;
  margin-right: 200px;
  cursor: pointer;
}

.login a {
  text-decoration: none;
  color: #ffffff;
}

.top_banner {
  position: relative;
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
}

.bottom_banner {
  display: flex;
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
}

.bottom_banner h1 {
  margin-top: 214px;
  margin-left: 360px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.bottom_banner img {
  width: 996px;
  height: 540px;
  margin-left: 60px;
}


.banner_part1 h1 {
  font-weight: 700px;
  font-size: 40px;
  line-height: 56px;
}

.banner_part1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 170px;
  left: 360px;
  gap: 32px;
}

.banner_img {
  width: 996px;
  height: 447px;
  position: absolute;
  top: 93px;
  left: 701px;
}

.banner_button {
  width: 357px;
  height: 56px;
  background-color: #3692FF;
  border-radius: 40px;
  border-color: #3692FF;
  border: none;
  cursor: pointer;
}

.banner_button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  position: relative;
  left: 360px;
}

.content2 .content_text {
  text-align: right;
}

.content {
  display: flex;
  margin: 100px 0;
  gap: 50px;
  align-items: center;
}

.content img {
  width: 588px;
  height: 444px;
}

.content_text {
  display: flex;
  flex-direction: column;
}

.content_text p {
  color: #3692FF;
}

.content_text h2 {
  color: #374151;
  font-size: 20px;
  font-weight: 400;
}

.content2 {
  margin-left: auto;
}

footer {
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  padding: 32px 200px;
}

.codeit_2024 {
  color: #9CA3AF;
}

footer a {
  color: #E5E7EB;
  text-decoration: none;
}

.privacy {
  margin-right: 30px;
}

.social {
  width: 20px;
  height: 20px;
}

.social_media {
  display: flex;
  gap: 12px;
}