* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}
header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}
img {
  vertical-align: bottom;
}

#signinLink {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}
#hero {
  background-image: url("./images/image1.png");
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main-visual,
.footer-visual-wrap {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

.wrap-contents {
  max-width: 1200px;
  margin-left: 70px;
  width: 100%;
}

.go {
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 126px;
  margin-top: 30px;
}
#images3 {
  width: 50%;
  height: 447px;
  margin-top: 93px;
  padding: 30px, 0px, 0px, 0px;
  vertical-align: bottom;
}

#features {
  padding-bottom: 138px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}
#bottomBanner {
  background-image: url("./images/image2.png");
}
.codeit-2024 {
  width: 113px;
}
.privacy-policy {
  color: inherit;
  flex: 1;
  position: relative;
  text-decoration: none;
}
.faq {
  color: inherit;
  text-decoration: none;
}
.privacy-policy-parent {
  width: 159px;
  display: flex;
}

.codeit-2024-parent,
.ic-facebook-parent {
  display: flex;
}
.ic-facebook-parent {
  margin-right: 5px;
}
.codeit-2024-parent {
  justify-content: space-between;
  align-self: stretch;
}

.ic-facebook-icon,
.ic-instagram-icon,
.ic-twitter-icon,
.ic-youtube-icon {
  margin-left: 15px;
}
.footer {
  background: #111827;
  padding: 32px 200px;
  min-height: 160px;
  text-align: center;
  color: #ffffff;
}
