* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  padding: 0 200px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  justify-content: space-between;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 126px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

#sign-button {
  border-radius: 8px;
  padding: 14.5px 43px;
  font-size: 16px;
  font-weight: 600;
}

body {
  color: #374151;
  font-family: "Pretendard", sans-serif;
}

.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  background-size: 55%;
  align-items: center;
  background-position: 80% bottom;
  margin-top: 32px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#features {
  padding-bottom: 138px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature-content {
  flex: 1;
}

.feature-name {
  color: #3692ff;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.feature-explanation {
  margin-top: 24px;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

#top {
  background-image: url("images/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

#bottom {
  background-image: url("images/bottom-banner-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  padding: 32px 200px 108px 200px;
  font-size: 16px;
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Menu {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#social {
  display: flex;
  gap: 12px;
}