@import url(./style.css);

body {
  overflow-x: hidden;
}

.logo {
  height: 51px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 1rem 200px;
  background-color: #fff;
  z-index: 1000;
}

.s1 {
  background-color: var(--bannerbg);
  height: 540px;
  padding-top: 93px;
}

.s2 {
  background-color: var(--bannerbg);
}

.bannertext {
  z-index: 100;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.banner2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

.home_img1 {
  width: 996px;
  height: 447px;
  object-fit: scale-down;
}
.home_img2 {
  width: 996px;
  height: 447px;
  object-fit: scale-down;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

.imgs {
  width: 588px;
  height: 444px;
  object-fit: scale-down;
}

.para {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem 0;
  gap: 5rem;
  align-items: center;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text_left {
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.badge {
  color: var(--main);
  font-size: 18px;
}

.des {
  color: var(--gray700);
  font-size: 24px;
  letter-spacing: 2px;
}

footer {
  background-color: var(--footer);
  height: 160px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.nav {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sub_nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.p {
  color: var(--gray400);
  font-size: 16px;
}

.p a {
  font-family: "Abel", sans-serif;
}

.year {
  font-size: 16px;
  margin: 0;
  color: var(--footercodeit);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Abel", sans-serif;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
}

.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30rem;
}

h2 {
  font-size: 40px;
  letter-spacing: 2px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 0 24px;
    gap: 1rem;
  }
  h1 br {
    display: none !important;
  }
  .bannertext {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .s1 {
    height: auto;
  }
  .banner {
    width: 100%;
    flex-direction: column;
  }
  .banner2 {
    margin-top: 3rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
  }
  .home_img1 {
    width: 996px;
    height: 447px;
    position: relative;
  }
  .imgs {
    width: 696px;
    height: 524px;
  }
  .home_img2 {
    width: 996px;
    height: 540px;
    position: relative;
    bottom: -33px;
  }
  .para {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem 24px;
  }
  .text {
    gap: 0;
  }
  .para.left {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 3rem 24px;
  }
  .nav2 {
    gap: 15rem;
  }
  .text {
    display: flex;
    justify-content: left;
  }
  h2 {
    text-align: center;
  }
  .nav2 {
    gap: 5rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  header {
    padding: 0 24px;
    gap: 3rem;
  }
  .s1 {
    height: auto;
  }
  h1 {
    font-size: 32px;
  }
  #btn_small {
    width: 100px;
  }
  .banner {
    flex-direction: column;
  }
  .bannertext {
    text-align: center;
  }
  #btn_large {
    width: 10rem;
    font-size: 16px;
  }
  .home_img1 {
    width: 626px;
    height: 281px;
  }
  .home_img2 {
    width: 500px;
    height: 270px;
  }
  .banner2 h1 {
    font-size: 30px;
    position: relative;
    top: 8rem;
  }
  .para {
    width: auto;
    flex-direction: column;
    margin: 0 16px;
    justify-content: center;
    align-items: center;
  }
  .para.left {
    flex-direction: column-reverse;
    align-items: center;
  }
  .imgs {
    width: 100%;
  }
  .banner2 {
    padding-top: 5rem;
    flex-direction: column;
  }
  .nav {
    flex-direction: column-reverse;
  }
  .nav2 {
    gap: 4em;
  }
  .sub_nav {
    gap: 0.8rem;
    margin: auto;
  }
  .year {
    position: relative;
    left: -6rem;
    top: 2rem;
    font-size: 12px;
  }
  .s2 {
    margin-top: 3rem;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  #btn_small {
    width: auto;
    white-space: nowrap;
  }
  .text h1 br,
  .text_left h1 br {
    display: none !important;
  }
  .badge,
  .des {
    font-size: 16px;
  }
  footer .nav .nav2 .sub_nav .p a {
    font-size: 12px;
  }
  .icon {
    width: 15px;
    height: 15px;
  }
}
