@import 'https://meyerweb.com/eric/tools/css/reset/reset.css';
.button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.button__login {
  font-size: 16px;
  padding: 12px 20px;
  width: 128px;
}
.button--border-radius-40px {
  border-radius: 40px;
}
.button--theme-blue {
  background-color: #3692ff;
  color: #ffffff;
  font-weight: 600;
}
.button--theme-blue:hover {
  background-color: #1967d6;
}
.button--theme-blue:focus {
  background-color: #1251aa;
}
.button--theme-blue:disabled {
  background-color: #9ca3af;
}

.link {
  text-decoration: none;
}

.header-main {
  height: 70px;
  background-color: #ffffff;
}
.header-main--fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header-main__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-main__content {
  margin: 10px 200px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-sign-in {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.main--margin-top {
  margin-top: 70px;
}

.main__content {
  width: 1200px;
}

.footer--theme-black {
  background-color: #111827;
}

.content-card {
  height: 540px;
  width: 100%;
}
.content-card--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-card--position-relative {
  position: relative;
  z-index: 0;
}
.content-card--background-color-blue {
  background-color: #cfe5ff;
}
.content-card--margin-top-180px {
  margin-top: 180px;
}
.content-card__description {
  margin-right: auto;
}
.content-card--margin-top-138px {
  margin-top: 138px;
}

.content-figure--width-1920px {
  width: 1920px;
}
.content-figure__image {
  position: absolute;
  bottom: 0;
  right: 200px;
}

.content-description {
  font-weight: 700;
  font-size: 40px;
  color: #374151;
  line-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.content-description__link {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 124px;
  height: 56px;
  line-height: 24px;
}
.content-description--position-relative {
  position: relative;
  z-index: 2;
}

.reverse {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.reverse > * {
  text-align: right;
}

.contentCategory {
  color: #3692ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contentHeader {
  padding-block: 12px 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.contentDescription {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #374151;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

footer {
  background-color: #111827;
}

footer {
  padding-inline: 200px;
  height: 160px;
  font-size: 16px;
  padding-top: 32px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9CA3AF;
}

.policyContent {
  color: #E5E7EB;
}

.footerContent {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=style.css.map */