@import './import/import';

footer {
  background-color: #111827;
}

footer {
  padding-inline: 200px;
  height: 160px;
  font-size: 16px;
  padding-top: 32px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9CA3AF
}

.policyContent {
  color: #E5E7EB;
}

.footerContent {
  display: flex;
  gap: 12px;
}