* {
  box-sizing: border-box;
}
@import './import/import';

footer {
  background-color: #111827;
}

figure {
  margin: 0;
}

.blueContent {
  background-color: #cfe5ff;
  position: relative;
  z-index: 0;
  height: 540px;
}

#mainContentContainer {
  display: flex;
  justify-content: center;
}

#mainContent {
  width: 1200px;
  margin-inline: auto;
}

#mainContent figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 720px;
  align-items: center;
  gap: 64px;
}

#topContent .blueButton {
  padding: 16px 122px;
  border-radius: 40px;
  display: block;
}

#topContent a {
  display: inline-block;
}

#topContent {
  width: 1920px;
}

#topDescriptionContainer {
  position: absolute;
  top: 170px;
  left: 360px;
  z-index: 2;
}

.pandaImage {
  position: absolute;
  bottom: 0;
  right: 223px;
  z-index: 1;
}

.reverse {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.reverse>* {
  text-align: right;
}

.topDescription {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
  margin-bottom: 32px;
}

.contentCategory {
  color: #3692ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contentHeader {
  padding-block: 12px 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.contentDescription {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #374151;
}

.marginContent {
  margin-top: 180px;
}

#bottomContent {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

#bottomContent div {
  position: absolute;
  top: 214px;
  left: 360px;
  z-index: 2;
}

footer {
  padding-inline: 200px;
  height: 160px;
  font-size: 16px;
  padding-top: 32px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9CA3AF
}

.policyContent {
  color: #E5E7EB;
}

.footerContent {
  display: flex;
  gap: 12px;
}