/* 공통 CSS */
/* 색상 css 변수 */
:root {
  --main: #3692ff;
  --error: #f74747;
  --gray50: #f7f7f8;
  --gray100: #e8ebed;
  --coolgray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ea4a8;
  --gray500: #72787f;
  --gray600: #454c53;
  --gray700: #374151;
  --gray800: #26282b;
  --gray900: #1b1d1f;
  --btn1: #3692ff;
  --btn2: #1967d6;
  --btn3: #1251aa;
  --btn4: #9ca3af;
  --bannerbg: #cfe5ff;
  --loginbg: #e6f2ff;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
  color: var(--gray700);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* 버튼 스타일링 */
button {
  background-color: var(--btn1);
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#btn_small {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  width: 128px;
  height: 48px;
  font-size: 16px;
}

#btn_large {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  width: 355px;
  height: 56px;
  font-size: 20px;
}

#btn_small:hover,
#btn_large:hover {
  background-color: var(--btn2);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}