@import "@/src/styles/_mixin";
@import "@/src/styles/_colors";

.button {
  @include font-style(16px, 600, $white);
  padding: 12px 24px;
  background-color: $blue;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: $dark-blue;
  }
}

.active {
  background-color: $grey-400;
  cursor: not-allowed;

  &:hover {
    background-color: $grey-400;
  }
}

.fullWidth {
  width: 100%;
}

.disabled {
  background-color: $grey-400;
  cursor: not-allowed;

  &:hover {
    background-color: $grey-400;
  }
}
