.sectionTitle {
  color: #111827;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.itemCard {
  color: #1f2937;
  overflow: hidden;
  cursor: pointer;
}

.itemCardThumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 1; /* 정사각형으로 만들어 줌 */
  margin-bottom: 16px;
}

.itemSummary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.itemName {
  font-size: 16px;
  font-weight: 400;
  /* 모든 상품 카드가 동일한 크기일 수 있도록 상품명을 한 줄로 제한 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemPrice {
  font-size: 16px;
  font-weight: bold;
}

.favoriteCount {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #4b5563;
  font-size: 12px;
}

.bestItemsContainer {
  padding-top: 17px;
  padding-bottom: 24px;
}

.allItemsCardSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 8px;
}

.allItemsSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allItemsSectionHeader:first-child {
  padding-bottom: 8px;
}

.allItemsSectionHeader:nth-child(2) {
  padding-bottom: 16px;
}

.searchBarWrapper {
  display: flex;
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 9px 16px;
  flex: 1;
  align-items: center;
}

.searchBarInput {
  border: none;
  flex: 1;
  background-color: inherit;
  margin-left: 4px;
}

.searchBarInput::placeholder {
  color: #9ca3af;
  font-size: 16px;
}

.searchBarInput:focus {
  outline: none;
}

.paginationBarWrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .bestItemsContainer {
    margin-bottom: 40px;
  }

  .bestItemsCardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .allItemsCardSection {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
  }
}

@media (min-width: 1280px) {
  .bestItemsCardSection {
    grid-template-columns: repeat(4, 1fr);
  }

  .allItemsCardSection {
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 24px;
  }
}
