.description-head {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  &--text-align-left {
    text-align: left;
  }
  &--text-align-right {
    text-align: right;
  }
  &--color-374151 {
    color: #374151;
  }
}
.description-detail {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.08em;
  text-align: left;
  &--color-374151 {
    color: #374151;
  }
  &--text-align-right {
    text-align: right;
  }
}
.description-tip {
  font-size: 18px;
  font-weight: 700;
  &--line-height-21-48px {
    line-height: 21.48px;
  }
  &--line-height-25-2px {
    line-height: 25.2px;
  }
  &--text-align-left {
    text-align: left;
  }
  &--text-align-right {
    text-align: right;
  }
  &--color-3692ff {
    color: #3692ff;
  }
}
.description-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  &--color-e5e7eb {
    color: #e5e7eb;
  }
  &--color-9ca3af {
    color: #9ca3af;
  }
}

.description-button {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.description-login {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
}

.description-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
