@font-face {
    font-family: 'ROKAF Bold';
    src:url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABold.woff2') format('woff2');
    url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'),
        url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2) format('woff2'),
        url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff/Pretendard-Bold.woff) format('woff')
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Medium.woff) format('woff')
}

@font-face {
    font-family: Pretendard;
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/packages/pretendard/dist/web/static/woff2/Pretendard-Regular.woff) format('woff')
}

