.cardImg {
  width: 221px;
  height: 221px;
}

.cardName {
  font-size: 14px;
  font-weight: 500;
  font-family: "Pretendard";
  color: #1f2937;
}

.cardPrice {
  font-size: 16px;
  font-weight: 700;
  font-family: "Pretendard";
  color: #1f2937;
}

.cardFavorite {
  font-size: 12px;
  display: flex;
  align-items: center;
}
