a {
  text-decoration: none;
  color: inherit;
}
  
body {
  width: full;
  color: #374151;
}

.button {
  cursor: pointer;
  background: #3692FF;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.button.login {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 20px;
  gap: 10px;
}

.button.move_page {
  margin-top: 40px;
  width: 355px;
  height: 56px;
  border-radius: 40px;
}

/* font */
.font_banner {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}

.font_highlight {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  color: #3692FF;
}

.font_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  margin: 20px 0 25px 0;
}

.font_content {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}

.font_footer1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #9CA3AF;
}

.font_footer2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #E5E7EB;
}


/* header */
.header {
  height: 70px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
  width: 153px;
  height: 51px;
}

/* banner_section */
.banner_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 540px;
  background: #CFE5FF;
}

.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner_img_box {
  position: relative;
  bottom: -93px;
  width: 996px;
  height: 447px;
}

.banner_img {
  width: 100%;
  height: 100%;
}

/* content_section */
.content_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 1px solid black;
}

.content_item {
  width: 568px;
  height: 444px;
}

.content_box1, .content_box2, .content_box3 {
  margin: 50px;
}

.content_box2 {
  text-align: end;
}

.container1, .container2, .container3 {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 720px;
  border: 1px solid black;
}

.container1, .container3 {
  justify-content: flex-start;
}

.container2 {
  justify-content: flex-end;
}

/* bottom_section */
.bottom_section {
  width: 100%;
  height: 540px;
  background: #CFE5FF;
}

.bottom_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bottom_img {
  width: 996px;
  height: 100%;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: #111827;
  font: var(font_footer1);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: 1520px;
  height: 20px;
  padding-top: 20px;
}

.footer_box2 {
  display: flex;
  height: 100%;
  gap: 30px;
  color: #e5e7eb;
}

.footer_box3 {
  display: flex;
  gap: 12px;
}