html,body{

    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

/* header */
.wrap{
    height: 70px;
    width: 100%;    
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.wrap a{
    margin-top: 10px;
    margin-left: 200px;
    cursor: pointer;
   
  
}

.loginBtn{

    cursor: pointer;
    position: absolute;
    border:none;
    background-color: #3692ff;
    border-radius: 8px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    width: 128px;
    height: 48px;
    top: 10px;
    right: 200px;
}

/* main */

.card{

    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items:end;
    gap: 100px;
    height: 540px;
    width: 100%;
}

.box{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h1{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
}

.box button{
    margin-bottom: 80px;
    padding: 0;
    width: 355px;
    height: 56px;
    border-radius: 40px;
    background-color: #3692ff;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.card img{
    width: 996px;
    height: 447px;
}


.card2{
   
    background-color: #FFFFFF;
    height: 720px;
    display: flex;
    justify-content: center;
}

.card2 .confirmBox{
    
    display: flex;
    align-items: center;
}

.confirmBox .specific{
   margin-left: 50px;
   text-align: left;
}

.specific h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
}

.specific p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: #374151;
}

.card3{

    background-color: #FFFFFF;
    height: 720px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.card3 .specific2{
    margin-right: 50px;

}
.card3 img{
    width: 588px;
    height: 444px;
}


.searchBox .specific2{
    padding-right: 50px;
    text-align: right;
}

.specific2 h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
}

.specific2 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color: #374151;
}

.card4{
    background-color: #FFFFFF;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card4 img{
    width: 588px;
    height: 444px;
}
.card4 .registerBox{
    width: 100%;
    
    top: 138px;
    left: 360px;
   
    align-items: center;
}


.card4 .specific3{
    margin-left: 50px;
}

.specific3 h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
}

.specific3 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color: #374151;
}

.card5{
    display: flex;
    height: 540px;
    justify-content: center;
    align-items: center;
    
}

.card5 h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
    margin: 0;
}

.card5 img{
    margin-left: 50px;
    height: 540px;
}

footer{
    height: 160px;
    background-color: #111827;
}


footer .tag{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

.tag p{
    margin: 0;
}

.tag .codeit{
    color: #9CA3AF;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.tag .privacy{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #E5E7EB;
}

.social a{
    width: 116px;
    margin-right: 5px;
}

