html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* header */

header {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home {
  cursor: pointer;
  margin-left: 10px;
}

#login {
  cursor: pointer;
  border: none;
  background-color: #3692ff;
  border-radius: 8px;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  width: 128px;
  height: 48px;
  margin-right: 10px;
}

/* main */

main {
  background-color: skyblue;
}

.card {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 540px;
  width: 100%;
}

.card .box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.box button {
  width: 355px;
  height: 56px;
  border-radius: 40px;
  background-color: #3692ff;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 996px;
  height: 447px;
}

.card2 {
  background-color: #ffffff;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 .confirmBox {
  top: 137.5px;
  left: 360px;
  display: flex;
  align-items: center;
}

.confirmBox .specific {
  padding-left: 50px;
  text-align: left;
}

.specific h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.specific p {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: #374151;
}

.card3 {
  background-color: #ffffff;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3 .searchBox {
  display: flex;
  align-items: center;
}

.searchBox .specific2 {
  padding-right: 50px;
  text-align: right;
}

.specific2 h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.specific2 p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  color: #374151;
}

.card4 {
  background-color: #ffffff;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card4 .registerBox {
  display: flex;
  align-items: center;
}

.registerBox .specific3 {
  padding-left: 50px;
}

.specific3 h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.specific3 p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  color: #374151;
}

.card5 {
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card5 h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
}

.card5 img {
  height: 540px;
}

footer {
  height: 160px;
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .tag {
  display: flex;
  justify-content: space-around;
}

.tag .codeit {
  color: #9ca3af;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.tag .privacy {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #e5e7eb;
}

.social {
  width: 116px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
