/* component */
.btn-large,
.btn-small {
  &:visited {
    color:#fff;
  }
  &:hover {
    background:#1967D6;
    color:#fff;
  }
  &:active {
    background:#1251AA;
    color:#fff;
  }
  &:disabled {
    background:#9CA3AF;
    color:#fff;
  }
  &:link {
    color:#fff;
  }
}
.btn-large {
  display:inline-block;
  box-sizing:border-box;
  padding:1.8rem 124px;
  background:var(--brand-blue);
  border:0;
  border-radius:40px;
  font-family: Pretendard, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color:#fff;
  text-align:center;
  line-height:2.4rem;
  @media screen and (max-width : $size-tablet){
    padding:1.4rem 33.5px;
    font-size: 1.6rem;
    line-height:1.9rem;
  }
}

.btn-small {
  display:inline-block;
  padding:1.5rem 43px;
  background:var(--brand-blue);
  border:0;
  border-radius: 8px;
  text-align:center;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color:#fff;
  line-height:2rem;
}

.input-theme {
  box-sizing:border-box;
  width: 640px;
  height: 56px;
  padding:16px 24px;
  background:var(--cool-grey100);
  border:none;
  border-radius:12px;
  font-family: Pretendard, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;

  @media screen and (max-width:$size-tablet) {
    width:100%;
  }

  & + .alert {
    display:none;
    padding:8px 16px;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.79rem;
    color:#BF010A;
  }
  &:focus {
    outline:1px solid var(--brand-blue);
  }
  &::placeholder {
    color:var(--cool-grey400);
  }
  &:invalid + .alert {
    display:block;
  }
  &[type="password"] {
    padding:16px 56px 16px 24px;
  }
}