$size-p : 1920px;
$size-t : 744px;
$size-m : 375px;

/* common */
@font-face {
  font-family: Pretendard ;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --brand-blue:#3692FF;
  --cool-grey100: #F3F4F6;
  --cool-grey400:#9CA3AF;
  --grey700: #374151;
  font-size:62.5%;
}

.blind {
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  clip:rect(0,0,0,0);
  overflow:hidden;
}