$size-desktop : 1200px;
$size-tablet : 768px;
$size-mobile : 375px;


/* common */
@font-face {
  font-family: Pretendard ;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Abel ;
  src: url('https://fonts.gstatic.com/s/abel/v18/MwQ5bhbm2POE2V9BPQ.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --brand-blue:#3692FF;
  --cool-grey100: #F3F4F6;
  --cool-grey400:#9CA3AF;
  --grey700: #374151;
  font-size:62.5%;
}

.blind {
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  clip:rect(0,0,0,0);
  overflow:hidden;
}