/* index */
.section-banner {
  &.top {
    background:url("../img/Img_home_top.png") no-repeat #CFE5FF;
    background-position:left calc(50% + 238px) bottom 0;
    @media screen and (max-width : $size-desktop){
      background-position:center bottom;
    }
    @media screen and (max-width : $size-tablet){
      background-size:626.12px auto;
    }
    .section-wrap {
      @media screen and (max-width : $size-desktop){
        height:771px;
      }
      @media screen and (max-width : $size-tablet){
        height:540px;
      }
    }
  }
  &.bottom {
    background:url("../img/Img_home_bottom.png") no-repeat #CFE5FF;
    background-position:left calc(50% + 238px) bottom 0;
    @media screen and (max-width : $size-desktop){
      background-position:center bottom;
    }
    @media screen and (max-width : $size-tablet){
      background-size:497.91px auto;
    }
    .section-wrap {
      @media screen and (max-width : $size-desktop){
        height:927px;
      }
      @media screen and (max-width : $size-tablet){
        height:540px;
      }
    }
  }
  .section-wrap {
    display:flex;
    height:540px;
    flex-direction:column;
    justify-content:center;
    gap:32px;
    @media screen and (max-width : $size-desktop) {
      justify-content:flex-start;
      align-items:center;
      gap:18px;
    }
  }
  &__img {
    position:relative;
    right:0;
    transform:translateX(133px);
    font-size:0;
    text-align:right;
  }
  &__tit {
    max-width:355px;
    font-family: Pretendard, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    word-break: keep-all;
    color:var(--grey700);
    &:only-child {
      @media screen and (max-width : $size-desktop) {
        margin-top:201px;
      }
      @media screen and (max-width : $size-tablet) {
        margin-top:121px;
      }
    }
    @media screen and (max-width : $size-desktop) {
      max-width:initial;
      margin-top:84px;
      font-size: 4rem;
      line-height: 5.6rem;
      text-align:center;
    }
    @media screen and (max-width : $size-tablet) {
      margin:48px 0 0;
      font-size: 3.2rem;
      line-height: 4.48rem;
    }
  }
}
.wrap-index .main {
  @media screen and (max-width : $size-desktop){
    display:flex;
    flex-direction:column;
    gap:64px;
    padding:24px 0 80px; 
  }
}
.section-desc {
  padding:138px 0;
  @media screen and (max-width : $size-desktop){
    padding:0; 
  }
  &.right {
    .section-desc__img {
      order:2;
      @media screen and (max-width : $size-desktop){
        order:initial;
      }
    }
    .section-wrap {
      justify-content:flex-end;
    }
    .section-desc__content {
      align-items:flex-end;
      text-align:right;
    }
  }
  .section-wrap {
    display:flex;
    gap:5.3vw;
    @media screen and (max-width : $size-desktop) {
      flex-direction:column;
    }
  }
  &__img img{
    @media screen and (max-width : $size-desktop) {
      width:100%;
    }
  }
  &__content {
    display:flex;
    flex:1 1;
    flex-direction:column;
    justify-content:center;
    word-break:keep-all;
    color:var(--grey700);
  }
  .topic {
    font-family: Pretendard, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    color:var(--brand-blue);
  }
  .tit {
    margin:12px 0 24px;
    font-family: Pretendard, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: 0.02em;
    max-width:300px;
    @media screen and (max-width : $size-desktop) {
      max-width:initial;
      margin:12px 0 20px;
      font-size: 3.2rem;
      line-height: 4.48rem;
    }
    @media screen and (max-width : $size-tablet) {
      margin:8px 0 14px;
      font-size: 2.4rem;
      line-height: 2.52rem;
    }
  }
  .content {
    font-family: Pretendard, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.9rem;
    letter-spacing: 0.08em;
    @media screen and (max-width : $size-desktop) {
      font-size: 1.8rem;
      line-height: 2.16rem;
    }
    @media screen and (max-width : $size-tablet) {
      font-size: 1.8rem;
      line-height: 2.52rem;
    }
  }
}