/* layout */

.header {
  height:70px;
  .header-wrap {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    height:69px;
    display:flex;
    align-items:center;
    justify-content:space-between;;
    padding:0 10.42vw;
    background:#fff;
    border-bottom:1px solid #DFDFDF;
    @media screen and (max-width : $size-desktop){
      padding: 0 24px;
    }
    @media screen and (max-width : $size-tablet){
      padding: 0 16px;
    }
  }
  .img-logo {
    display:flex;
  }
}

.section-wrap {
  position:relative;
  max-width:1200px;
  margin:0 auto;
  @media screen and (max-width : $size-desktop){
    box-sizing:border-box;
    max-width:100%;
    padding:0 24px;
  }
}

.footer {
  display:flex;
  box-sizing:border-box;
  width:100vw;
  height:160px;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content:flex-start;
  padding:32px 10.42vw 0;
  background:#111827;
  color:#fff;

  @media screen and (min-width : $size-tablet){
    padding: 32px 3.23vw 0;
  }
  @media screen and (min-width : $size-mobile){
    align-items:flex-start;
    padding: 32px 4.27vw 0;
    gap:24px 0;
  }
  &__tit {
    font-family: Abel, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    color:var(--cool-grey400);
    @media screen and (max-width : $size-tablet){
      order:3;
      flex:1 0 100%;
    }
  }
  &__nav {
    display:flex;
    height:min-content;
    gap:30px;
    font-family: Abel, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
  }
  &__sns {
    display:flex;
    height:min-content;
    gap:12px;
  }
  .link {
    &:visited {
      color:#fff;
    }
    &:link {
      color:#fff;
    }
  }
}