.main {
  &--margin-top {
    margin-top: 70px;
  }
}

.main-signup {
  display: flex;
  justify-content: center;
  &__wrap {
    width: 640px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    > * {
      width: 640px;
    }
  }
  &__description {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    text-align: center;
  }
}

.main-login {
  display: flex;
  justify-content: center;
  &__wrap {
    width: 640px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    > * {
      width: 640px;
    }
  }
  &__description {
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    text-align: center;
  }
}
