.main {
  &--margin-top {
    margin-top: 70px;
  }
}

.main-login {
  display: flex;
  justify-content: center;
  &__wrap {
    width: 640px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap:24px;
  }
}