.Items {
  margin: 0 auto;
  width: 100%;
  color: var(--gray-800);
  overflow: hidden;
  cursor: pointer;
}

.itemImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}

.ItemsName {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemsPrice {
  font-size: 16px;
  font-weight: bold;
}

.ItemsFavorite {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--gray-600);
  font-size: 12px;
}
