<footer id="footer">
  <div class="container">
    <div class="copy"><p>&copy;codeit - 2024</p></div>
    <div class="foot-menu">
      <a href="/pages/privacy">Privacy Policy</a>
      <a href="/pages/faq">FAQ</a>
    </div>
    <div class="sns-links">
      <a href="https://www.facebook.com/" target="_blank">
        <img src="/images/icon-facebook.svg" alt="facebook icon" />
      </a>
      <a href="https://twitter.com/" target="_blank">
        <img src="/images/icon-twitter.svg" alt="twitter icon" />
      </a>
      <a href="https://www.youtube.com/" target="_blank">
        <img src="/images/icon-youtube.svg" alt="youtube icon" />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="/images/icon-instagram.svg" alt="instagram icon" />
      </a>
    </div>
  </div>
</footer>
