.FileInput {
  position: relative;
  display: flex;
  gap: 24px;
}

.FileInput-preview {
  /* display: block; */
  left: 500px;
  width: 282px;
  height: 282px;
  object-position: center;
  object-fit: cover;
  border-radius: 12px;
}

.FileInput-hidden-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 282px;
  cursor: pointer;
}

.FileInput-clear-button {
  position: absolute;
  top: 10px;
  left: 556px;
  width: 22px;
  height: 24px;
  cursor: pointer;
  background-color: #3692ff;
  border: none;
  border-radius: 50%;
  color: #ffffff;
}
