/* :root {
 font-size: 18px;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* nav 구역 */

.gnb {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0 200px;
  background-color: #fff;
  z-index: 9999;
}

.gnb-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1520px;
}

.gnb-inner__logo img {
  display: block;
  width: 153px;
  height: 51px;
}

/* banner 구역 */
.banner {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 540px;
  background-color: #cfe5ff;
}

.banner-inner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1520px;
  height: 540px;
}

.banner-inner__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner-inner__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 1200px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  z-index: 1;
}

/* section-container 영역 */

.section {
  width: 1200px;
}

.section-inner {
  display: flex;
  align-items: center;
  gap: 64px;
  height: 720px;
}

.section-inner:nth-child(2) {
  justify-content: end;
  text-align: right;
}

.section-inner__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section-inner__description .badge {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-blue);
}

.section-inner__description .title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2;
  color: var(--color-gray-700);
}

.section-inner__description .description {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.8;
  color: var(--color-gray-700);
}

/* footer 영역 */
.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 160px;
  background-color: var(--color-gray-900);
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #fff;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 1520px;
  padding: 32px 200px;
}

.footer-inner__center {
  display: flex;
  gap: 30px;
}

.footer-inner__sns {
  display: flex;
  gap: 12px;
}
