.AddItemWrap {
  padding: 29px 0;
}

.AddItemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.label {
  font-size: 18px;
  font-weight: 700;
  margin: 24px 0 12px;
}
