@import "@/styles/_color";

.dropdown {
  position: relative;

  .button {
    width: 130px;
    height: 42px;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: $white;
    border: 1px solid $gray200;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $cool-gray800;
  }

  .menus {
    width: 130px;
    height: 84px;
    border-radius: 12px;
    background-color: $white;
    border: 1px solid $gray200;
    cursor: pointer;

    position: absolute;
    top: 46px;
    right: 0;

    .menu {
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(1) {
        border-bottom: 1px solid $gray200;
      }
    }
  }
}

@media (max-width: 767px) {
  .dropdown {
    .button {
      width: 42px;
      height: 42px;
      padding: 0;
      justify-content: center;

      span {
        display: none;
      }

      img {
        content: url(/public/icons/sort.svg);
      }
    }
  }
}
