@import "@/styles/_color";

.search_bar {
  flex-grow: 1;
  height: 42px;
  padding: 9px 16px;
  border-radius: 12px;
  background-color: $cool-gray100;

  display: flex;
  gap: 4px;

  input {
    background-color: $cool-gray100;
    outline: none;
    border: none;
    width: 100%;
    color: $cool-gray400;
    &::placeholder {
      color: $cool-gray400;
    }
  }
}
