@import "@/styles/_color";

.article {
  &.best {
    background-color: $cool-gray50;
    padding: 0 24px;

    .content {
      padding: 16px 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .header {
    height: 72px;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .footer {
    font-size: 14px;
    line-height: 1.2;
    color: $cool-gray500;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      display: flex;
      align-items: center;
    }

    .info_container {
      display: flex;
      gap: 8px;
    }

    .created_at {
      color: $cool-gray400;
    }
  }
}

@media (min-width: 1200px) {
  .article.best {
    .content {
      gap: 18px;
    }
  }
}

@media (max-width: 1199px) {
  .article {
    .header {
      .title {
        font-size: 18px;
      }
    }
  }
}
