.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.page.container {
  margin-top: 100px;
  padding: 0 360px;
}

.authPage.container {
  margin-top: 60px;
  padding: 0 640px;
}

/* mobile */
@media (max-width: 768px) {
  .page.container,
  .authPage.container {
    padding: 0 16px;
  }
}

/* tablet */
@media (max-width: 1280px) {
  .page.container,
  .authPage.container {
    padding: 0 24px;
  }
}
