* {
	border: none;
	outline: none;
}

header > .container
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 40px;
}
header > .container > #logo > img
{
	width: 396px;
	height: 132px;
}

main > .container
{
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}
main > .container > form
{
	gap: 24px;
	display: flex;
	flex-direction: column;
}
main > .container > form > .field
{
	gap: 16px;
	display: flex;
	flex-direction: column;
}
main > .container > form > .field > .wrapper 
{
	position: relative;
}
main > .container > form > .field > .wrapper > img {
	top: 16px;
	right: 16px;
	position: absolute;
}
main > .container > form > .field > label
{
	color: #1F2937;
	font-size: 18px;
	font-weight: 700;
}
main > .container > form > .field input
{
	width: 100%;
	height: 56px;
	border-radius: 12px;
	background-color: #F3F4F6;
}
main > .container > form > .field input:focus
{
	outline: #369EFF solid thin;
}
main > .container > form > .field input::placeholder
{
	color: #9CA3AF;
	font-size: 16px;
	font-weight: 400;
}
main > .container > form > button
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	height: 56px;
	border-radius: 40px;
}
main > .container > form:invalid > button {
	cursor: not-allowed;
	background-color: #9CA3AF !important;
}
main > .container > form > .third-party
{
	color: #1F2937;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	height: 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	background-color: #E6F2FF;
}
main > .container > form > .third-party > .service
{
	gap: 16px;
	display: flex;
}
main > .container > form > p
{
	text-align: center;
}
main > .container > form > p > a {
	color: var(--blue);
	text-decoration: underline;
}
.field input,
.third-party
{
	padding-left: 23px;
	padding-right: 23px;
}
