.header-main {
  height: 70px;
  background-color: #ffffff;
  &--fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__content {
    margin: 10px 200px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-login {
  display:flex;
  justify-content: center;
  &__logo {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 396px;
    height: 132px;
    @include direction-center(row);
  }
}
