/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  --inputColor:#3692ff;
  box-sizing: border-box;
}

.card {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpTable {
  display: flex;
  flex-direction: column;
  width: 640px;
  gap: 24px;
}

.signUpTable label {
  width: 100%;
  height: 56px;
}

label input {
  padding: 0px;
  width: 640px;
  height: 56px;
  background: #f3f4f6;
  border-radius: 12px;
  border: none;
}

input:focus {
  background-color: #ffffff;
  border-color: var(--inputColor);
}
input::placeholder {
  padding: 16px 24px;
}

.signUpButton {
  cursor: pointer;
  background-color: #9ca3af;
  height: 56px;
  border: none;
  border-radius: 40px;
  width: 640px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.simpleLoginBox {
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  width: 640px;
  height: 74px;
  background: #e6f2ff;
}
.simpleLoginIcons {
  width: 100px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordLabel {
  display: flex;
  align-items: center;
}
.passwordLabel img {
  cursor: pointer;
  position: absolute;
  right: 550px;
}
.login {
  margin-top: 24px;
}

