.bestItem {
  width: 384px;
  height: 169px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #f9fafb;
}

.bestItemWrap {
  width: 336px;
  height: 153px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.badge {
  width: 102px;
  height: 30px;

  display: flex;
  justify-content: center;

  background-color: #3692ff;
  border-radius: 0 0 32px 32px;
}

.badgeWrap {
  width: 54px;
  height: 24px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.badgeWrap span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  color: #fff;
}

.bestUserContents {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.bestTitle {
  display: inline;

  font-size: 20px;
  font-weight: 600;
  line-height: 23.87px;

  color: #1f2937;
}

.userProductImg {
  width: 71px;
  height: 71px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #e5e7eb;
}

.productImg {
  width: 100%;
  height: auto;
}

.bestUserInfoWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bestUserInfo {
  width: auto;
  height: 17px;

  display: flex;
  align-items: flex-end;
  gap: 8px;

  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;

  color: #4b5563;
}

.bestUserCount {
  display: flex;
  align-items: center;
  gap: 4px;
}

.likeCount {
  color: #6b7280;
}

.bestUserDate {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;

  color: #4b5563;
}
