p {
  margin: 0dvh;
}

.AllProducts {
  width: 1201px;
  height: 1154px;
  padding-left: 300px;
  padding-right: 300px;
}

.AllProductsMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.AllProductsTitle {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.Search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.SearchIcon {
  position: absolute;
  left: 14px;
  top: 14px;
}

.SearchInput {
  width: 325px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  background-color: #f3f4f6;
  border: none;
  padding-left: 40px;
  border-radius: 12px;
}

.ProductRegistrationButton {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #3692ff;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
}

.ProductListItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ProductListItem-img {
  width: 221px;
  height: 221px;
  object-fit: cover;
  border-radius: 16px;
}

.Grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
}

/* .Grid-item {
  padding: 0;
} */

.Product-detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.Title {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
}

.Price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
}

.FavoriteCount {
  display: flex;
  align-items: center;
  gap: 4px;
}
