/* color값 변수로 선언 */
:root {
    --cool_gray900: #111827;
    --cool_gray700: #374151;
    --gray900: #1B1D1F;
    --gray800: #26282B;
    --gray600: #454C53;
    --gray500: #72787F;
    --gray400: #9EA4A8;
    --gray200: #E5E7EB;
    --gray100: #E8EBED;
    --gray50: #F7F7F8;
    --blue1: #3692FF;
    --blue2: #1967D6;
    --blue3: #1251AA;
    --blue4: #9CA3AF;
    --red: #F74747;
    --bgcolor: #CFE5FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;
}

/* a태그 밑줄 제거 */
a {
    text-decoration: none;
}

/* 헤더부분 */
/* fixed는 2번째 미션인데 처음에 만들때 나도모르게 만들어버림; */
header {
    height: 70px;
    width: 100%;
    /* position: fixed;
    top: 0; */
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .login {
    background: var(--blue1);
    width: 128px;
    height: 48px;
    /* padding: auto auto; */
    border-radius: 8px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* 헤더부분 */

main {
    /* margin-top: 70px; */
    width: 100%;
}

.sec-1 {
    background-color: var(--bgcolor);
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
    background-image: url('img/img_home_top.svg');
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
}

.sec-1>div {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-size: 40px;
    color: var(--cool_gray700);
    font-weight: 700;
}

.btn_items {
    width: 355px;
    height: 56px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: white;
    background: var(--blue1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-2 {
    width: 1200px;
    margin: 0 auto;
}

.main-index {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.main-text {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text.right {
    text-align: right;
}

.text1 {
    font-weight: 700;
    font-size: 18px;
    color: var(--blue1);
}

.text2 {
    font-weight: 700;
    font-size: 40px;
    color: var(--cool_gray700)
}

.text3 {
    font-weight: 500;
    font-size: 24px;
    color: var(--cool_gray700)
}

.sec-3 {
    background-color: var(--bgcolor);
    height: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('img/img_home_bottom.svg');
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 55%;
}

.sec-3>div {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    color: var(--cool_gray700);
}

/* 푸터부분 */
footer {
    padding-top: 15px;
    height: 160px;
    background: var(--cool_gray900);
    width: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer>div {
    padding-top: 20px;
    flex-basis: 350px;
    text-align: center;
}

.codeit {
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
    margin-top: 0;
}

.FAQ {
    font-size: 16px;
    font-weight: 400;
    gap: 255px;
}

footer>.FAQ>a {
    background: none;
    color: var(--gray200);
}

/* 푸터부분 */

/* 버튼 속성 */
.btn:hover {
    background: var(--blue2);
}

.btn:focus {
    background: var(--blue3);
}

.btn:disabled {
    background-color: var(--blue4);
    cursor: default;
    pointer-events: none;
}