.link_styles{
    text-Decoration: none;
    padding: 24px 23px;
    color: var(--gray-600);
}
.link_styles:hover{
    color: var(--blue);
}

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 200px;
    background-color: #FFFFFF;
}


.logo{
    position: relative;
    width: 153px;
    height: 51px;
}

.nav_menu {
    display: flex;
    list-style: none;
}

.nav_menu li {
    padding: 24px 23px;
}

.login_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 48px;
    background: var(--blue);
    border-radius: 8px;
}

.login_btn:hover {
    background-color: #1967D6;
}

.login_btn_text {
    color: #FFFFFF;
}