a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  height: 540px;
  background-color: var(--bg-color);

  padding-top: 70px;
}

nav {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 1;
}

main {
  width: 1200px;
  margin: 0 auto;
}

section {
  height: 720px;
  display: flex;
  align-items: center;
}

main > section:nth-child(even) {
  justify-content: flex-end;
  text-align: right;
}

footer {
  height: 160px;
  background-color: var(--footer-bg-color);
}

.section_text {
  margin: 0 64px;
}

.section_title {
  font-size: 40px;
  line-height: 56px;
  font-family: "Pretendard-Regular";
  font-weight: 700;
  color: var(--cool-gray700);
}

.section_tag {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  font-weight: 700;
  color: var(--btn-blue1);
}

.section_img {
  max-width: 50%;
  max-height: 62%;
}

.section_detail {
  font-family: "Pretendard-Regular";
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  color: var(--cool-gray700);
}

#loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 128px;
  height: 48px;
  background-color: var(--btn-blue1);
  border-radius: 8px;

  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

#header_container {
  width: 355px;
}

#header_container h1 {
  font-family: "Pretendard-Regular";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 32px;
}

#header_container a {
  display: flex;
  width: 100%;
  height: 56px;
  background-color: var(--btn-blue1);
  border-radius: 40px;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

#headerimg {
  display: flex;
  align-self: flex-end;
  max-width: 60%;
}

#bottom_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 540px;
  background-color: var(--bg-color);
}

#bottom_banner h1 {
  font-family: "Pretendard-Regular";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--cool-gray700);
}

#bottomimg {
  display: flex;
  align-self: flex-end;
  max-width: 60%;
}

#footer_container {
  padding: 12px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--cool-gray400);
}

#policy_container {
  width: 160px;
  display: flex;
  justify-content: space-between;

  font-family: "Pretendard-Regular";
  font-size: 16px;
  font-weight: 400;
}

#policy_container a:link,
#policy_container a:visited {
  color: var(--gray200);
}

#sns_container {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 0 24px;
  }

  header {
    padding-top: 160px;
    margin-bottom: 100px;
  }

  main {
    width: 700px;
    margin-bottom: 60px;
  }

  main > section:nth-child(even) {
    display: table;
    margin-top: 30px;
  }

  main > section:nth-child(even) > .section_text {
    display: table-footer-group;
  }

  #header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  #header_container a {
    width: 355px;
  }

  #headerimg {
    max-width: none;
  }

  #bottom_banner {
    height: 927px;
  }

  #bottomimg {
    max-width: none;
  }

  #footer_container {
    padding: 12px 24px;
  }

  .main_content {
    display: block;
  }

  .section_img {
    width: 696px;
    height: 524px;
    max-width: none;
    max-height: none;
  }

  .section_text {
    margin: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
}
