* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  font-family: "Pretendard", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 200px;
  background-color: #fff;
  border-bottom: 1px solid #DFDFDF;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px;
  font-size: 16px;
}

#footerLink {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#social {
  display: flex;
  gap: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.button {
  background-color: #3692ff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#loginButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}

.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#topBanner {
  background-image: url("../images/home/hero-image.png");
}

#bottomBanner {
  background-image: url("../images/home/bottom-banner-image.png");
}

.standard {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}