* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 200px;
  background-color: #fff;
  border-bottom: 1px solid #DFDFDF;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}

#footerLink {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#social {
  display: flex;
  gap: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#loginButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14.5px 43px;
}

.top_main {
  height: 540px;
  background-image: url(../assets/Img_home_top.png);
  background-repeat: no-repeat;
  background-size: 996px 447px;
  background-position: bottom;
  background-color: skyblue;
}

.footer-content {
  padding: 30px 200px 0;
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.footer-content .word {
  color: #9CA3AF;
}