@import 'https://meyerweb.com/eric/tools/css/reset/reset.css';
@import '../mixin/mixin';
@import '../common/button';
@import '../common/description';
@import '../common/link';
@import '../header/header';
@import '../main/main';
@import '../footer/footer';
@import '../content/content';
* {
  box-sizing: border-box;
}
figure {
  margin: 0;
}