@import "../../../index.css";

.allitems-container {
  max-width: 1200px;
  margin: 0 auto;
}

.allitems-header {
  display: flex;
  justify-content: space-between;
  height: 42px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.allitems-writter {
  width: 76px;
  height: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.allitems-header-rightside {
  display: flex;
  gap: 12px;
}

.allitems-search {
  width: 325px;
  height: 42px;
  border-radius: 12px;
  background-color: var(--cool-gray100);
  gap: 5px;
  display: flex;
  align-items: center;
}

.allitems-search_ic {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}

.allitems-search_write {
  width: 200px;
  height: 24px;
  border: none;
  background-color: var(--cool-gray100);
}

.allitems-search_write::placeholder {
  color: var(--cool-gray400);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.allitems-search_write:focus {
  outline: none;
}

.allitems-btn {
  width: 133px;
  height: 42px;
  padding: 12px 23px;
  border-radius: 8px;
  border: none;
  background-color: var(--brand-blue);
  color: var(--color-white);
  font-weight: 600;
  line-height: 19.09px;
  cursor: pointer;
}

.allitems-dropdown {
  width: 130px;
  height: 42px;
  border-width: 1px;
  border-radius: 12px;
  background-color: var(--color-white);
  border-color: var(--cool-gray200);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  display: flex;
  padding: 12px;
  cursor: pointer;
}

.allitems-dropdown_write {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--cool-gray800);
}

.dropdown-content {
  top: 5px;
  position: relative;
  z-index: 100;
  height: 84px;
  border-width: 1px;
  border-radius: 12px;
  border: 1px solid var(--cool-gray200);
  background-color: var(--color-white);
  list-style-type: none;
}

.dropdown-content-item {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.allitem {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.allitem-container {
  width: 221px;
  height: 301px;
  display: grid;
  gap: 16px;
}

.allitem-image-nodata {
  width: 221px;
  height: 221px;
  background-color: var(--cool-gray200);
  border-radius: 16px;
}

.allitem-image {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.allitem-detail {
  display: flex;
  flex-direction: column;
  height: 64px;
  gap: 6px;
}

.allitem-detail-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.71px;
  margin: 0;
}

.allitem-detail-price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.09px;
  margin: 0;
}

.allitem-detail-favorite {
  height: 16px;
  margin: 0;
  align-items: center;
  display: flex;
}

.allitem-detail-favorite > img {
  height: 16px;
  width: 16px;
}
.allitem-detail-favorite > span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
  padding-left: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
