@import "@/src/styles/_mixin";
@import "@/src/styles/_colors";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: $white;
  border-bottom: 1px solid $grey-200;
  z-index: 999;
}

.image {
  @include image;
}

.headerLeft {
  display: flex;
  gap: 24px;
  align-items: center;

  .navContainer {
    @include font-style(18px, 700, $grey-600);
    display: flex;
    gap: 24px;
    width: max-content;
  }
}

.headerRight {
  display: flex;
  gap: 10px;

  .userControl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;

    .user {
      display: inline;
      cursor: default;
      span {
        @include font-style(16px, 800, $grey-800);
      }
    }

    .signOut {
      @include font-style(14px, 400, $grey-500);
      cursor: pointer;

      &:hover {
        color: $grey-800;
      }
    }
  }
}

/* mobile */
@media (max-width: 768px) {
  .headerLeft {
    gap: 16px;

    .navContainer {
      @include font-style(16px, 700, $grey-600);
      gap: 8px;
    }
  }
}

/* tablet */
@media (max-width: 1280px) {
  .container {
    padding: 0 24px;
  }
}
