.signin-container {
    max-width: 640px;
    margin: 0 auto;
}

.signin-logo {
    display: block;
    text-align: center;
    width: 396px;
    margin: 60px auto 40px auto;
}

.signin-logo img {
    width: 100%;
}

.signin-label {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
}

.signin-input {
    width: 100%;
    padding: 16px 24px;
    border: none;
    background-color: #f3f4f6;
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 24px;
}

.signin-form>div {
    display: flex;
    flex-direction: column;
}

.signin-pwd {
    position: relative;
}

.signin-btn {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 40px;
    padding: 15px 100px;
    background-color: #3692FF;
    border: none;
    color: white;
}

.signin-form div {
    margin-bottom: 12px;
}

.signin-form input {
    margin-bottom: 6px;
}

.Error-message {
    color: #f74747;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-top: 8px;
    padding-left: 16px;
    margin-top: 0;
}

.pwd-toggle {
    position: absolute;
    right: 15px;
    top: 50px;
}

.social-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin: 24px 0;
    background-color: #e6f2ff;
    color: #1f2937;;
    border-radius: 8px;
}

.social-login-img {
    display: flex;
    gap: 20px;
}

.switch-signup {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.switch-signup>a {
    color: #3182F6;
    text-decoration: underline;
    text-underline-offset: 2px;
}
