:root {
    --primary-color: #3692FF;
    --text-color: #374151;
    --background-color: #CFE5FF;
    --footer-background-color: #111827;
    --gray400-color: #9CA3AF;
    --footer-link-color: #E5E7EB;
    --button-color: #FFFFFF;
    --sign-color: #1F2937;
    --input-color: #F3F4F6;
    --sign-button-color: #9CA3AF;
}
