:root {
    --gray900 : #1B1D1F;
    --gray800 : #26282B;
    --gray600 : #454C53;
    --gray500 : #72787F;
    --gray400 : #9EA4A8;
    --gray300 : #9CA3AF;
    --gray200 : #E5E7EB;
    --gray100 : #E8EBED;
    --gray50 : #F7F7F8;
    
    --Cool-Gray900 : #111827;
    --Cool-Gray800: #1F2937;
    --Cool-Gray700 : #374151;
    --Cool-Gray100 : #F3F4F6;
    --color-white : #FFFFFF;
    --blue800 : #3182F6;
    --blue100 :#CFE5FF;
    --blue50 :#E6F2FF;
    --brand-blue : #3692FF;
    --error-red : #F74747;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Pretendard;
}

.nav-header {
    max-width: 1920px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 200px;
    border-bottom: 1px;
}

.logo {
    width: 153px;
    height: 100%;
}

button {
    color: var(--color-white);
    background-color: var(--brand-blue);
}

.login-btn {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}


.small-text {
    color: var(--brand-blue);
    font-weight: 700;
    font-size: 18px;
}

main h1 {
    color:var(--Cool-Gray700);
    font-weight: 700;
    font-size: 40px;
}

main h2 {
    color:var(--Cool-Gray700);
    font-weight: 500;
    font-size: 24px;
}

.banner {
    background-color: var(--color-lightblue);
    width: 100%;
    height: 540px;
    position: absolute;
}

.banner > .banner-center {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.top {
    top: 70px;
}

.bottom {
    top: 2908px;
}

.banner-section {
    width: 357px;
    height: 56px;
    position: absolute;
    top: 170px;
    line-height: 56px;
    text-align: left;
}

.explore-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    width: 357px;
    height: 56px;
    border-radius: 40px;
    border: 0;
    padding :16px, 124px, 16px, 124px;
    margin-top: 32px;
    cursor: pointer;
}

.top img {
    position: absolute;
    width: 996px;
    height: 447px;
    top: 93px;
    left: 341px;
}

.bottom-text {
    line-height: 56px;
    text-align: left;
}

.bottom img {
    position: absolute;
    width: 996px;
    height: 540px;
    left: 341px;
}

.main-middle {
    max-width: 1200px;
    padding-top: 540px;
    margin: 0 auto;
    display: block;
}

.content {
    padding: 138px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 64px;
}

.middle {
    justify-content: right;
    text-align: right;
}

.content img {
    max-height: 444px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section p {
    line-height: 25.2px;
}

section h1 {
    line-height: 56px;
    letter-spacing: 0.02em;
}

section h2 {
    line-height: 28.8px;
    letter-spacing: 0.08em;
}


footer {
    background-color: var(--Cool-Gray900);
    width: 100%;
    height: 160px;
    position: absolute;
    top: 3448px;
    color: var(--gray200);
    
}

.nav-footer {
    max-width: 1520px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px 200px 32px 200px;
    gap: 10px;
}

.page-text {
    width : 159px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.page-text > a {
    color: inherit;
    text-decoration: none;
}

.ico-social{
    width : 116px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.ico-social > a {
    display: inline-block;
}

.ico-social > a > img {
    max-width: 20px;
    max-height: 20px;
}








