:root {
    --gray900 : #1B1D1F;
    --gray800 : #26282B;
    --gray600 : #454C53;
    --gray500 : #72787F;
    --gray400 : #9EA4A8;
    --gray200 : #E5E7EB;
    --gray100 : #E8EBED;
    --gray50 : #F7F7F8;
    
    --Cool-Gray900 : #111827;
    --Cool-Gray800: #1F2937;
    --Cool-Gray700 : #374151;
    --Cool-Gray400 : #9CA3AF;
    --Cool-Gray100 : #F3F4F6;
    --color-white : #FFFFFF;
    --blue800 : #3182F6;
    --blue100 :#CFE5FF;
    --blue50 :#E6F2FF;
    --brand-blue : #3692FF;
    --error-red : #F74747;
}

* {
    box-sizing: border-box;
    font-family: Pretendard;
}

body {
    margin: 0;
    padding: 0;
}

.join-form {
    max-width: 640px;
    margin: 0 auto;
}

.join-logo {
    position: relative;
    width: 396px;
    height: 132px;
    top: 60px;
    left: 122px;
}

main {
    position: absolute;
    width : 640px;
    height : 664px;
    top : 232px;
    text-align: center;
}

.input-text {
    text-align: left;
    color: var(--Cool-Gray800);
    font-weight: 700;
    font-size: 18px;
    line-height: 28.8px;
}

.joinid {
    width: 100%;
    height: 56px;
    background-color: var(--Cool-Gray100);
    color: var(--Cool-Gray100);
    border-radius: 12px;
    border: 0;
    gap: 10px;
    padding-left: 16px;
}

.joinid:focus {
    outline: solid var(--brand-blue);
}

.joinpw {
    width: 100%;
    height: 56px;
    background-color: var(--Cool-Gray100);
    color: var(--Cool-Gray100);
    border-radius: 12px;
    border: 0;
    gap: 10px;
    padding-left: 16px;
}

.joinpw:focus {
    outline: solid var(--brand-blue);
}

.join-password {
    position: relative;
}

.join-password img {
    position: absolute;
    width: 24px;
    right: 20px;
    top: 65px;
    cursor: pointer;
}

.join-btn {
    background-color: var(--Cool-Gray400);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    border: 0;
    border-radius: 40px;
    padding: 16px 124px 16px 124px;
    margin: 24px 0;
}

button:hover {
    background-color: var(--brand-blue);
}

.join-simple {
    background-color: var(--blue50);
    max-width: 100%;
    height: 74px;
    border-radius: 8px;
    border: 0;
    align-items: center;
    text-align: center; 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color : var(--Cool-Gray800);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding : 25px 23px 25px 23px;
}

.login-social a {
    text-decoration-line: none;
}

.login-social img {
    width: 42px;
    height: 42px;
    margin-left: 16px;
}

.bottom {
    width: 158px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    margin: 24px auto 0; 
}

#login-page {
    color:var(--blue800);
    text-decoration-color : var(--blue800);
}









