.product-area {
  width: 1200px;
  margin: 0 auto;
}

/*product item*/
.product-list li {
  width: 282px;
  list-style: none;
}
.product-img-area {
  height: 282px;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 1px 1px 6px rgba(120, 120, 120, 0.2);
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.product-title {
  font-size: 14px;
  margin: 16px 0 6px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 6px;
}

.product-like {
  font-size: 12px;
  color: #4b5563;
  font-weight: 500;
  margin: 0;
}

/*BestProduct*/
.best-items h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

/*BasicProduct*/
.basic-product-header {
  margin: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "h2 h2 h2 h2 search search add select";
}
.basic-product-header h2 {
  margin: 0;
  font-size: 20px;
  line-height: 42px;
  grid-area: h2;
}
.basic-product-header input {
  width: 325px;
  padding: 12px 30px;
  background: #f3f4f6;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  grid-area: search;
}
.basic-product-header a {
  grid-area: add;
}
.basic-product-header button {
  cursor: pointer;
  margin: 0 12px;
  background: #3692ff;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 11px 17px;
  font-size: 16px;
}
.basic-product-header .selectBox {
  grid-area: select;
}

/*SELECT*/
.orderSelect > div {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 5px 6px;
}
.orderSelect > div:hover,
.orderSelect > div:active {
  border: 1px solid #ddd;
  box-shadow: none;
}
.css-1fdsijx-ValueContainer {
  background: url("../images/Polygon.png") no-repeat right 10px center;
}
.basic-product-header .selectBox .css-1hb7zxy-IndicatorsContainer {
  display: none;
}
.react-select__option {
  text-align: center;
}

/*AddItem*/

.addItem_header {
  overflow: hidden;
  margin-bottom: 20px;
}

#addItem_btn,
.detail-inquiry button {
  float: right;
  font-size: 16px;
  padding: 9px 20px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: var(--blue);
  cursor: pointer;
}
#addItem_btn[disabled],
.detail-inquiry button[disabled] {
  background: var(--gray);
}
.addItem_header h2 {
  float: left;
  font-size: 28px;
}

.AddItemForm h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.FileInput {
  margin-bottom: 20px;
}
.FileInput label {
  display: inline-block;
}
.preview_area {
  width: 282px;
  height: 282px;
  border-radius: 16px;
  display: inline-block;
  margin-left: 20px;
  background: #f3f4f6;
  overflow: hidden;
  position: relative;
}
.img_placeholder {
  cursor: pointer;
}
.itemPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview_area button {
  position: absolute;
  right: 12px;
  top: 10px;
  background: no-repeat;
  border: none;
  cursor: pointer;
}
.AddItemForm input,
.AddItemForm textarea,
.detail-inquiry textarea {
  width: 100%;
  border: none;
  background: var(--coolGray);
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 24px;
  outline: none;
}
.AddItemForm input::placeholder,
.AddItemForm textarea::placeholder,
.detail-inquiry textarea::placeholder {
  color: var(--gray);
}
.AddItemForm textarea {
  resize: none;
  height: 200px;
}

/*Tag*/
.InputTags ul {
  display: flex;
  gap: 12px;
}
.InputTags ul li {
  background: #f9fafb;
  padding: 12px 12px 12px 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.InputTags ul li img {
  cursor: pointer;
}

/*Detail*/
.product-detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 24px;
}
.detail-img {
  border-radius: 16px;
  width: 100%;
}
.detail-desc {
  position: relative;
}
.detail-desc h2 {
  font-size: 24px;
  margin-bottom: 16px;
}
.detail-desc h3 {
  font-size: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 16px;
  line-height: 1;
}
.detail-desc p {
  margin-bottom: 24px;
}
.detail-desc span {
  display: block;
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 8px;
}
.detail-desc ul {
  display: flex;
  gap: 8px;
}
.detail-desc ul li {
  background: #f3f4f6;
  border-radius: 30px;
  font-size: 16px;
  padding: 6px 16px;
}
.detail-favorite {
  border: 1px solid #e5e7eb;
  font-weight: 500;
  border-radius: 30px;
  padding: 4px 12px;
  display: flex;
  gap: 5px;
  font-size: 16px;
  color: #6b7280;
  align-items: center;
  width: fit-content;
  position: absolute;
  bottom: 0;
}

/*detail comment*/
.detail-inquiry {
  margin-bottom: 80px;
}
.detail-inquiry p {
  font-weight: bold;
  margin-bottom: 16px;
}
.detail-inquiry textarea {
  resize: none;
  height: 105px;
}
.comment-item {
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 24px;
}

.user-info {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  align-items: center;
}
.user-info img {
  width: 100%;
  max-width: 40px;
}
.user-name p {
  font-size: 14px;
  color: #4b5563;
}
.user-name span {
  font-size: 12px;
  color: #9ca3af;
}
.detail-button a {
  background: var(--blue);
  color: #fff;
  padding: 12px 38.5px;
  display: flex;
  border-radius: 30px;
  gap: 5px;
  width: fit-content;
  margin: 0 auto;
}

.empty-comment {
  text-align: center;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  padding: 40px 0;
  color: #9ca3af;
  margin-bottom: 40px;
}
