:root {
  --skyblue: #cfe5ff;
  --blue: #3692ff;
  --darkblue: #1967d6;
  --navyblue: #1251aa;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray400: #9ca3af;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374161;
  --gray800: #1f2937;
  --gray900: #111827;
  --red: #f74747;
}
