.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}
.title h3 {
  margin-bottom: 0;
}
.writer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nickname {
  font-size: 14px;
  color: #4b5563;
}
.date {
  font-size: 12px;
  color: #9ca3af;
}
.like {
  margin-left: 8px;
  padding-left: 16px;
  border-left: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  gap: 4px;
}
.like p {
  font-size: 14px;
  color: #6b7280;
}
.content {
  min-height: 100px;
  margin-bottom: 24px;
}
.content div {
  margin-top: 20px;
  margin-left: 0;
}
.likeBtn {
  cursor: pointer;
}
.popUp {
  position: relative;
}
.popUp > div {
  position: absolute;
}
