@import '/styles/reset.css';
@import '/styles/base.css';

/* header */

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px;
}

.logo img {
    width: 153px;
    height: 51px;
}

.header_button {
    min-width: 128px;
    height: 48px;
    padding: 12px 20px;
    background-color: var(--color-brand-blue);
    border-radius: 0.8rem;
}

.header_button a {
    color: white;
    font-size: 16px;
}

/* Main_banner */
.main_banner_container {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
}

.main_banner_wrap {
    width: 1920px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main_banner_text {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 999;
}

.main_banner_text .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: var(--color-cool-gray700);
}

.main_banner_btn {
    display: block;
    width: 355px;
    height: 56px;
    border-radius: 40px;
    background-color: var(--color-brand-blue);
}

.main_banner_btn a {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.main_banner_img {
    position: absolute;
    bottom: -1.5px;
    right: 10%;
}

/* Main_info */
.main_info_wrap {
    background-color: white;
}

.main_info_background {
    margin: auto;
    width: 750px;
}

.main_info {
    height: 450px;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 40px;
}

.main_info .img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_info img,
.main_info_second img {
    width: 100%;
    height: 277.5px;
}

.main_info .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7.5px;
}

.main_info .blue-title,
.main_info_second .blue-title {
    font-size: 11.25px;
    font-weight: 700;
    color: var(--color-brand-blue);
    line-height: 15.75px;
}

.main_info .title,
.main_info_second .title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    color: var(--color-cool-gray700);
}

.main_info .description,
.main_info_second .description {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: var(--color-cool-gray700);
}

.main_info_second {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    grid-template-areas: 'txt img';
    gap: 40px;
}

.main_info_second .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 7.5px;
    text-align: end;
}

.main_info_second .img_wrap {
    grid-area: img;
}

.main_info_second .text_wrap {
    grid-area: txt;
}

/* home_bottom */
.bottom_banner_container {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
}

.bottom_banner_wrap {
    width: 1920px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom_banner_text {
    width: 1200px;
    display: flex;
    gap: 32px;
    z-index: 999;
}

.bottom_banner_text .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: var(--color-cool-gray700);
    display: flex;
    flex-direction: column;
}

.bottom_banner_img {
    position: absolute;
    bottom: -2px;
    right: 100px;
}

.bottom_banner_img img {
    width: 996px;
    height: 540px;
}

/* footer */

footer {
    /* width: 100vh; */
    height: 100px;
    background-color: var(--color-cool-gray900);
    color: var(--color-cool-gray400);
    display: flex;
    justify-content: center;
}

.footer_wrap {
    width: 950px;
    padding: 20px 125px;
    display: flex;
    justify-content: space-between;
    line-height: 11.931px;
}

footer a {
    color: var(--color-cool-gray200);
}

footer img {
    color: var(--color-white);
}

.privacy_footer {
    width: 99.375px;
    display: flex;
    justify-content: space-between;
}
