$background-blue: #cfe5ff;
$point-blue: #3692ff;
$point-red: #f74747;

$button-hover: #1967d6;
$button-click: #1251aa;

$point-blue800: #1251aa;
$point-blue700: #1967d6;
$point-blue600: #3692ff;
$point-blue300: #cfe5ff;
$point-blue200: #e6f2ff;

$white: #ffffff;
$link-blue: #3182f6;

$cool-gray900: #111827;
$cool-gray800: #1f2937;
$cool-gray700: #374151;
$cool-gray600: #4b5563;
$cool-gray500: #6b7280;
$cool-gray400: #9ca3af;
$cool-gray200: #e5e7eb;
$cool-gray100: #f3f4f6;
$cool-gray50: #f9fafb;

$gray900: #1b1d1f;
$gray800: #26282b;
$gray600: #454c53;
$gray500: #72787f;
$gray400: #9ea4a8;
$gray300: #dfdfdf;
$gray200: #e5e7eb;
$gray100: #e8ebed;
$gray50: #f7f7f8;
