body {
  margin: 0 auto;
  width: 640px;
}

/* header */

.logo {
  margin-top: 60px;
  margin-bottom: 40px;
}

.logo img {
  display: block;
  margin: 0 auto;
}

/* form */

.form__block {
  margin-bottom: 24px;
}
