/* Home Logo */
.auth-container {
  max-width: 640px;
  margin: auto;
}

.logo-home-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px auto 40px;
}

/* Input */
label {
  color: var(--gray-800);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  padding: 16px 24px;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 12px;
  background-color: var(--gray-100);
  }

input::placeholder {
  color: var(--gray-200);
  font-size: 16px;
  line-height: 24px;
}

input:focus {
  outline-color: var(--blue-500);
}

.input-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 26px;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 24px;
  cursor: pointer;
}

/* Form Submit Button */
.submit-form-btn {
  width: 100%;
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

/* Social Login Container */
.social-login-container {
  width: 100%;
  height: 74px;
  padding: 16px 24px;
  margin: 24px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-800);
  background-color: var(--blue-100);
}

.social-login-container h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-login-btns {
  display: flex;
  gap: 16px;
}

/* Auth Swith */
.auth-switch {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-800);
}

.auth-switch a {
  color: #3182f6;
  text-decoration: underline;
  text-underline-offset: 2px;
}
