.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownItem {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}
