* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
}

#footerMenu {
  display: flex;
  gap: 30px;
  color: #e5e7eb;
}

#socialMedia {
  display: flex;
  gap: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1967d6;
}

.button:focus {
  background-color: #1251aa;
}

.button:disabled {
  background-color: #9ca3af;
  cursor: default;
  pointer-events: none;
}

.pill-button {
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 126px;
}

.email-p, .pwd-p {
  font-weight: 700;
  margin-bottom: 16px;
}

.sign-button {
  width: 100%;
  height: 56px;
  background-color: #9CA3AF;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  border-radius: 40px; 
}
.sign-button:hover {
  background-color: #3691FF;
}

