/* 프리텐다드 폰트 */
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('./images/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

:root {
  --main-blue-color: #3692ff; /* Main Blue Color */
  --main-bg-color: #cfe5ff; /* Main Background Color */
  --sub-light-blue-color: #1967d6; /* Light Sub Blue Color */
  --sub-dark-blue-color: #1251aa; /* Dark Sub Blue Color */
  --sub-gray-color: #9ca3af; /* Sub Gray Color */
  --red-color: #f74747; /* Error Red color */
  --gray900: #111827;
  --gray800: #1f2937;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f3f4f6;
}

* {
  box-sizing: border-box;
}

.rounded-sm {
  border-radius: 8px;
}
.rounded-lg {
  border-radius: 40px;
}
.bg-color-gray400 {
  background-color: var(--gray400);
}
