:root {
  /* Gray scale */
  --gray-800: #1f2937;
  --gray-600: #374151;
  --gray-200: #9ca3af;
  --gray-100: #f3f4f6;
  --gray-50: #e5e7eb;

  /* Blue scale */
  --blue-800: #111827;
  --blue-600: #1967d6;
  --blue-500: #3692ff;
  --blue-50: #cfe5ff;
    
  /* Primary color */
   --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

#signinLinkBtn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 19px;
  width: 128px;
  height: 48px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--blue-600);
  text-decoration: none;
  color: var(--white);
}

.button {
    border: none;
    background-color: var(--blue-500);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}