.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px #dfdfdf solid;
}

.leftBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBtn * {
  margin-right: 30px;
}

.leftBtn .logo {
  cursor: pointer;
}

.leftBtn a {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: #4b5563;
  text-decoration: none;
}
#presentPage {
  color: #3692ff;
}

.rightBtn {
  display: flex;
  gap: 12px;
}

.loginBtn {
  cursor: pointer;
  width: 88px;
  height: 42px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  line-height: 42px;
  background-color: #3692ff;
  color: #ffffff;
  border: none;
  font-size: 16px;
}

.profile {
  border: none;
  background-color: #ffffff;
}

