/* Common CSS */

body {
  color: var(--cool-gray700);
}

.content {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.content-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}


/* CSS for header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1;

  display: flex;
  justify-content: space-between;
  padding: 10px 200px 9px;
}

.logo {
  width: 153px;
}


/* CSS for banner */

.banner {
  width: 100%;
  height: 540px;
  background-color: var(--background-blue);

  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 80% bottom;
}

#banner-top {
  background-image: url('/images/home/hero-image.png');
}

#banner-bottom {
  background-image: url('/images/home/bottom-banner-image.png');
}

.banner-content {
  height: 100%;
  position: relative;
}

.banner-text {
  width: 357px;
  position: absolute;
  left: 0px;
}

.banner-content .button {
  margin-top: 32px;
}

.banner-content .button-large {
  font-size: 20px;
}


/* CSS for main */

main {
  width: 100%;
  margin-bottom: 138px;
}

.main-content {
  height: 720px;

  display: flex;
  gap: 64px;
}

.main-content:nth-child(2n) {
  justify-content: right;
}

.main-content:nth-child(2n) p {
  text-align: right;
}

.main-content img {
  width: 588px;
}

.content-keyword {
  color: var(--point-blue);
  font-size: 18px;
}

.main-content .content-title {
  margin: 12px 0 24px;
}

.content-description {
  font-size: 24px;
}


/* CSS for footer */

footer {
  background-color: var(--cool-gray900);
  width: 100%;
  height: 160px;
  padding: 32px 200px;
  gap: 10px;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
}

.copyright {
  color: var(--cool-gray400);
}

.footer-nav {
  display: flex;
  gap: 30px;
}

.footer-nav a {
  color: var(--cool-gray200);
}

.sns-links {
  display: flex;
  gap: 13px;
}

.sns-link img {
  width: 18px;
}


@media (max-width: 1218.75px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  #banner-top br {
    display: inline-block;
    content: " ";
  }
}

@media (max-width: 1199px) {
  header {
    padding: 10px 24px 9px;
  }

  .banner {
    background-size: 996px;
    background-position: bottom;
  }

  #banner-top {
    height: 771px;
  }

  #banner-bottom {
    height: 927px;
  }

  .banner-text {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner-top .banner-text {
    top: 84px;
  }

  #banner-bottom .banner-text {
    top: 201px;
  }

  .banner-content .content-title {
    text-align: center;
  }
 
  .banner-content .button {
    margin-top: 24px;
  }

  .button-large {
    width: 355px;
  }

  main {
    padding: 24px;
    margin-bottom: 0;
  }

  .main-content {
    height: fit-content;
    flex-direction: column;
    gap: 0;
  }

  .main-content:nth-child(2n) {
    flex-direction: column-reverse;
  }

  .main-content img {
    width: 100%;
    display: inline-block;
  }

  .main-content .content-text {
    margin: 20px 0 64px;
    width: 100%;
  }

  .main-content .content-title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .main-content .content-title br {
    display: inline-block;
    content: " ";
  }

  .main-content .content-description {
    font-size: 18px;
  }

  footer {
    padding: 32px 104px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px 16px 9px;
  }

  #banner-top {
    background-size: 626px;
  }

  #banner-bottom {
    background-size: 498px;
  }

  #banner-top, #banner-bottom {
    height: 540px;
  }

  #banner-top .banner-text {
    top: 48px;
  }

  #banner-bottom .banner-text {
    top: 121px;
  }

  .banner-content .content-title {
    font-size: 32px;
    line-height: 44.8px;
  }

  .banner-content .button {
    margin-top: 18px;
    height: 48px;
    font-size: 16px;
  }

  .button-large {
    width: 154px;
  }

  main {
    padding: 16px;
    margin-top: 35px;
  }

  .main-content .content-title {
    margin-top: 8px;
    font-size: 24px;
  }

  footer {
    position: relative;
    padding: 32px 32px;
  }

  .copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }
}
