/*  PATH : '/' Home  */

$primary-color: #5179fa;
$secondary-color: #94b1ff;
$sub1-color: #ffffff;
$sub2-color: #000000;

.padding_content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.sub_category_area {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #e7e7e7;
  .sub_category_text {
    font-size: 24px;
    font-weight: bold;
  }
  .sub_category_util {
    display: flex;
    align-items: center;
    gap: 20px;
    input {
      display: block;
      padding: 10px;
      background-color: #f1f1f1;
      width: 300px;
      font-size: 18px;
      border-radius: 4px;
      border: 1px solid #e7e7e7;
    }
    button {
      height: 100%;
    }
    select {
      padding: 15px 20px;
    }
  }
}

/*  Main */
.main_visual {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary-color;
  .main_visual_text {
    margin: 0 auto;
    text-align: center;
    p {
      padding: 20px 0;
      font-size: 40px;
    }
  }
}
.main_content {
  padding: 100px 0;
  .main_content_item {
    display: flex;
    margin: 50px 0;
    &:nth-child(2n + 1) {
      .content_img {
        order: 1;
      }
    }
    .content_img {
      flex: 1;
    }
    .content_txt {
      padding: 40px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        font-size: 24px;
        color: $primary-color;
      }
      h2 {
        font-size: 30px;
      }
      p {
        width: 50%;
        font-size: 26px;
      }
    }
  }
}
/*  Footer */
.footer {
  padding: 40px 100px;
  background-color: #111827;
  color: $sub1-color;
}
/*  Login, SignIn */
.sign_header {
  padding: 50px 0 0 0;
  text-align: center;
}
.sign_wrap {
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
  .sign_input {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    label {
      font-size: 18px;
      font-weight: bold;
    }
    input {
      padding: 10px;
      outline: none;
      font-size: 22px;
      border: 0;
      background-color: #f1f1f1;
    }
    span {
      color: red;
    }
  }
  button {
    width: 100%;
  }
}
.sign_notice {
  padding: 20px 0;
  text-align: center;
  a {
    text-decoration: underline;
  }
}
/*  Item */
.header {
  .header_wrap {
    .header_menu {
      display: flex;
      gap: 20px;
      li {
        a {
          font-size: 22px;
          font-weight: bold;
          color: #535353;
          &:hover {
            color: $sub2-color;
          }
        }
      }
    }
  }
}

.items_list {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .best_item {
    .best_item_img {
      overflow: hidden;
      height: 200px;
      img {
        display: block;
        width: 100%;
      }
    }
    .best_item_info {
      span {
        font-size: 18px;
      }
      p {
        font-size: 24px;
        font-weight: bold;
      }
      em {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
.all_items_area {
  .items_list {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* Paginate */
.pagination_area {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  button {
    padding: 10px;
    font-size: 20px;
  }
  ul {
    display: flex;
    gap: 10px;
    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*  Additem  */
.create_item_area {
  display: flex;
  flex-direction: column;
  label {
    font-size: 20px;
    font-weight: bold;
  }
  input {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 3px;
    outline: none;
    border: 0;
  }
  textarea {
    padding: 20px;
    min-height: 150px;

    background-color: #f0f0f0;
    border-radius: 3px;
    outline: none;
    border: 0;
    resize: none;
  }
}
