@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Pretendard';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    height: 70px;
    background-color: #ffffff;
}

a {
    cursor: pointer;
    color: #ffffff;
    text-decoration-line: none;
}

.button {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #3692ff;
    text-align: center;
    padding: auto 0;
}

#landing {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #cfe5ff;
}

#intro > #intro-text {
    display: block;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: #374151;
    
}

#intro > a {
    display: block;
    width: 100%;
    border-radius: 40px;
    padding: 12px 20px;
    background-color: #3692ff;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    width: min(100%, 1200px);
}

.container > article {
    display: flex;
    align-items: center;
    height: 720px;
}

.container > article:nth-child(2n) {
    justify-content: right;
}

.container > article > div{
    width: 955px;
    height: 444px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > article:nth-child(2n) > div > .desc > * {
    text-align: right;
}

.container > article:nth-child(2n+1) > div > .desc > * {
    text-align: left;
}

.container > article > div > img {
    width: 588px;
    height: 444px;
}

.subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: #3692ff
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #374151;
    letter-spacing: 2%;
}

.content {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 8%;
}

.bottom-container {
    padding-top: 2%;
    background-color: #cfe5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    height: 160px;
    background-color: #111827;
}

#footer-content > * {
    display: inline;
}

#footer-content {
    height: 160px;
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #9ca3af;
}

#priv-faq {
    font-weight: 400;
    size: 16px;
    line-height: 19.09px;
    text-align: center;
    color: #e5e7eb;
}

#social > a > img {
    display: inline;
    letter-spacing: 20px;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}