/* 메인 배너 공통 */
.banner .container {
  height: 540px;
}
.banner .banner-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

/* mainBanner section */
#mainBanner {
  background: var(--main-bg-color)
    url('/images/img-home-top.png')
    no-repeat 80% 100%;
}
#mainBanner .banner-text {
  gap: 2rem;
}

/* section 공통 */
.container h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}
.flex-container {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 138px 0;
}
.flex-container div {
  flex-basis: 50%;
}
.flex-container .img-box img {
  width: 100%;
} 
.flex-container .text-box h2 {
  margin: 12px 0 24px;
}
.flex-container .text-box .blue-text {
  color: var(--main-blue-color);
  font-size: 18px;
  font-weight: 700;
}
.flex-container .text-box p {
  font-size: 24px;
  font-weight: 500;
}

/* search section */
#search .text-box {
  order: -1;
  text-align: right;
}

/* adsBanner section */
#adsBanner {
  background: var(--main-bg-color)
    url('/images/img-home-bottom.png')
    no-repeat 80% 100%;
  margin-top: 138px;
}