* {
  box-sizing: border-box;
}

html {
  font-family: "Pretendard", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}

/****** nav & home-top ******/

nav {
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.login-btn {
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background-color: #3692ff;
  padding: 12px 20px;
  border-radius: 8px;
  width: 128px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn-container {
  margin-right: 200px;
  display: flex;
}

.login-btn-container:hover {
  cursor: pointer;
}

.logo {
  margin-left: 200px;
}

.logo:hover {
  cursor: pointer;
}

.home-top-container {
  background-color: #cfe5ff;
  height: 540px;
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
}

.home-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* width: 1200px;
  margin: 0 auto; */
  margin-left: 360px;
  padding: 170px 0 170px;
}

.home-top-img {
  /* position: absolute; */
  margin-top: 93px;
  margin-right: 233px;
}

.home-top-title {
  display: block;
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

.home-top-btn {
  background-color: #3692ff;
  padding: 12px 20px;
  border-radius: 40px;
  border: none;
  width: 355px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.home-top-btn:hover {
  cursor: pointer;
}

/****** main ******/

main {
  width: 1200px;
  margin: 0 auto;
}

section {
  padding: 138px 0;
  display: flex;
  gap: 0 64px;
}

.right {
  justify-content: flex-end;
}

.main-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  gap: 12px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.main-topic {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #3692ff;
}

.main-title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #374151;
  line-height: 56px;
}

.main-content {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #374151;
  line-height: 28.8px;
}

/****** home-bottom & footer ******/
.home-bottom-background-color {
  background-color: #cfe5ff;
  height: 540px;
  width: 100%;
}

.home-bottom-container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-bottom {
  color: #374151;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.home-bottom-img {
  display: block;
  position: absolute;
  bottom: 0;
  right: -137px;
}

footer {
  background-color: #111827;
  padding: 32px 200px 108px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-codeit {
  display: block;
  margin: 0;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer-center {
  display: flex;
  gap: 30px;
}

.footer-ic {
  display: flex;
  gap: 12px;
}

.footer-faq,
.footer-privacy {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
