/* header */

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 200px;
  position: sticky;
  left: 0;
  right: 0;
  z-index: var(--GNB);
}

.header__logo {
  cursor: pointer;
}

.header__login-btn {
  cursor: pointer;
  background-color: var(--blue);
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 128px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
}

/* home-top */

.home-top,
.home-bottom {
  background-color: var(--light-blue-200);
}

.home-top__container,
.home-bottom__container {
  height: 540px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.home-top__content-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 355px;
  z-index: var(--title-with-img);
  flex-shrink: 0;
}

.home-top__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: var(--cool-gray700);
}

.home-top__title span {
  display: block;
}

.home-top__detail-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  height: 60px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.home-top__img,
.home-bottom__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: var(--img);
}

/* main, section */

.main {
  background-color: white;
  padding: 138px 0;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-bottom: 276px;
}

.section:last-child {
  margin-bottom: 138px;
}

.section {
  display: flex;
  align-items: center;
  gap: 64px;
}

.section__detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-shrink: 0;
}

.section__badge {
  color: var(--blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
}

.section__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.section__title span {
  display: block;
}

.section__subtitle {
  margin-top: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 8;
}

.section-right {
  flex-direction: row-reverse;
  text-align: right;
}

/* home-bottom */
.home-bottom__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  flex-shrink: 0;
  color: var(--cool-gray700);
  z-index: var(--title-with-img);
}

/* footer */

.footer {
  height: 160px;
  background-color: var(--footer-bg);
  display: flex;
  justify-content: space-between;
  padding: 32px 200px 0;
  position: relative;
}

.footer__copyright {
  color: var(--light-gray);
  cursor: pointer;
}

.footer__info {
  display: flex;
  gap: 30px;
}

.footer__info a {
  cursor: pointer;
  color: var(--gray200);
}

.footer__sns {
  color: white;
  display: flex;
  gap: 12px;
}

.footer__sns img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/* Tablet */

@media (max-width: 1199px) {
  /* header */

  .header {
    padding: 0 24px;
  }

  /* home-top */

  .home-top__container {
    flex-direction: column;
    height: 771px;
    padding: 84px 116px 0;
  }

  .home-top__content-box {
    min-width: fit-content;
    gap: 24px;
  }

  .home-top__detail-btn {
    min-width: 355px;
    margin: 0 auto;
  }

  .home-top__title {
    min-width: fit-content;
  }

  .home-top__title span {
    display: inline;
  }

  .home-top__img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 447px;
    overflow: hidden;
    object-fit: cover;
  }

  /* main, section */

  .main {
    padding: 24px 40px 80px;
  }

  .section {
    margin-bottom: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .section img {
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 0;
  }

  .section__title span {
    display: inline;
  }

  .section-right {
    flex-direction: column;
    align-items: flex-end;
  }

  /* home-bottom */

  .home-bottom__container {
    flex-direction: column;
    height: 927px;
    padding-top: 220px;
    text-align: center;
  }

  .home-bottom__img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 540px;
    overflow: hidden;
    object-fit: cover;
  }

  /* footer */

  .footer {
    padding: 32px 100px 0;
  }
}

/* Mobile */

@media (max-width: 767px) {
  /* header */

  .header {
    padding: 0 16px;
  }

  /* home-top */

  .home-top__container {
    height: 540px;
    padding: 48px 70px 0;
  }

  .home-top__title {
    text-align: center;
    font-size: 32px;
    line-height: 44.8px;
  }

  .home-top__title span {
    display: block;
  }

  .home-top__detail-btn {
    min-width: 154px;
    height: 48px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
  }

  .home-top__img {
    height: 281px;
  }

  /* main, section */

  .main {
    padding: 50px 20px 64px;
  }

  .section__title {
    font-size: 24px;
  }

  .section__subtitle {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
  }

  .section img {
    min-width: calc(375px-40px);
  }

  .section__detail {
    gap: 0px;
  }

  /* home-bottom */

  .home-bottom__container {
    height: 540px;
    padding-top: 100px;
  }

  .home-bottom__img {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
  }

  /* footer */

  .footer {
    padding: 32px;
  }

  .footer__copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }
}
