@media (min-width: 1921px) {
  /** desktop **/
  #mainBanner {
    background-position: 70% 100% !important;
  } 
}

@media (max-width: 1023px) {
  /** tablet **/
  /* 전체 공통 */
  .tbtb {
    display: none;
  }
  .container h2 {
    font-size: 2rem;
  }

  /* section 공통 */
  .flex-container .text-box h2 {
    font-size: 32px;
    margin: 8px 0 16px;
  }
  .flex-container .text-box p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  /** mobile **/
  /* 전체 공통 */
  #footer .foot-menu {
    justify-content: flex-start;
    grid-column: 1/3;
  }
  #footer .copy {
    grid-row: 2/3;
  }
  #footer .sns-links {
     grid-column: 3/4;
  }
  .btn-large {
    width: 260px;
    font-size: 18px;
  }

  /* 메인 배너 공통 */
  .banner {
    background-size: contain !important;
  }
  .banner .banner-text {
    top: -20%;
    right: 0;
    align-items: center;
    text-align: center;
  }

  /* section 공통 */
  .container h2 {
    font-size: 30px;
  }
  .flex-container {
    flex-wrap: wrap;
    padding: 64px 0;
    gap: 44px;
  }
  .flex-container div {
    flex-basis: auto;
    width: 100%;
  }
  .flex-container .text-box h2 {
    margin: 4px 0 8px;
    font-size: 24px;
  }
  .flex-container .text-box p {
    font-size: 16px;
  }

  /* search section */
  #search .text-box {
    order: 1;
  }

  /* adsBanner section */
  #adsBanner {
    margin-top: 64px;
  }
  #adsBanner.banner .container {
    height: 450px;
  }
  #adsBanner .banner-text {
    top: -40%;
  }
}