@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    box-sizing: border-box;
}

body {
    width: 640px;
    margin: 60px auto;
    font-family: 'Pretendard';
}

button {
    display: block;
    width: 100%;
    height: 56px;
    border-radius: 40px;
    background-color: #3692ff;
    border: 0px solid;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    margin: 0 0;
    text-align: center;
}

.input-block {
    margin: 16px 0;
}

.input-block > label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700px;
    line-height: 21.48px;
}

.input-block > input {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    background-color: #f3f4f6;
}

.input-block > input:focus {
    border-color: #3692ff;
}
.input-block > input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9ca3af;
}

#logo {
    display: block;
    margin: 0 auto;
    background-image: url('/images/home_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 396px;
    height: 132px;
}

#special-login {
    margin-top: 16px;
    display: flex;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
    background-color: #ebf2ff;
}

#icons > a > img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

#icons > a:last-child > img {
    margin-right: 0;
}

#signup-link {
    margin: 16px auto;
    text-align: center;
}