:root {
  /* 색상 팔레트 ---------------------------------------- */
  /* BLUE */
  --blue: #3692ff;
  --blue-100: #1967d6;
  --blue-200: #1251aa;
  --blue-50: #9ca3af;

  /* error/RED */
  --error-red: #f74747;

  /* GRAY */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-700: #374151;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  /* 글자 크기 ------------------------------------------- */
  font-size: 16px;
  --font-size-lg: clamp(2rem, 4vw, 3.5rem);
  --font-size-md: clamp(1rem, 3vw, 2.5rem);
  --font-size-sm: clamp(0.8rem, 2vw, 1.5rem);
  --font-size-lt: clamp(0.5rem, 1vw, 1rem);
}

/* 버튼 색변경 */
a.blue {
  background-color: var(--blue);
}
a:hover.blue {
  background-color: var(--blue-100);
}
a:active.blue {
  background-color: var(--blue-200);
}
a:disabled.blue {
  background-color: var(--blue-50);
}
* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

body {
  margin: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}
