/* 헤더 */

header {
  margin-top: 3.75rem;
  text-align: center;
}

.header-logo {
  max-width: 100%;
  width: auto;
}

/* 메인 */

main {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2.5rem auto 0;
  align-items: center;
}

/* 입력 폼 */

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form > label {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3425rem;
  color: var(--gray-800);
}

input {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--gray-100);
  padding: 1rem 1.5rem;
  color: var(--gray-800);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

input:focus {
  border-color: var(--blue-primary);
}

input::placeholder {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

.password-container {
  width: 100%;
  position: relative;
}

.visible-icon {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-button {
  width: 100%;
  padding: 1rem 7.75rem;
  border: none;
  border-radius: 40px;
  background-color: var(--gray-400);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--white-primary);
  cursor: pointer;
}

.form-button:hover {
  background-color: var(--gray-500);
}

.form-button:active {
  background-color: var(--gray-600);
}

/* 소셜 로그인 */

.social-login-container {
  width: 100%;
  height: 4.625rem;
  border-radius: 0.5rem;
  padding: 1.5625rem 1.4375rem;
  background-color: var(--social-login);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-login-container > span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-800);
}

.social-login {
  display: flex;
  gap: 1rem;
}

/* 하단 텍스트 */

.text-container {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.1187rem;
  color: var(--gray-800);
}

.sign-link,
.sign-link:visited {
  color: var(--link-typography);
  text-decoration: underline;
}
