/* color */

:root {
  --blue: #3692ff;

  --gray900: #1b1d1f;
  --gray800: #26282b;
  --gray600: #454c53;
  --gray500: #72787f;
  --gray400: #9ea4a8;
  --gray200: #e5e7eb;
  --gray100: #e8ebed;
  --gray50: #f7f7f8;

  --light-blue-200: #cfe5ff;
  --light-blue-100: #e6f2ff;
  --footer-bg: #111827;
  --light-gray: #9ca3af;
  --input-bg: #f3f4f6;
}

/* z-index */

:root {
  --GNB: 999;
  --title-with-img: 2;
  --img: 1;
}
