.paginationBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.paginationButton {
  border: 1px solid var(--gray-200);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: var(--gray-500);
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationButton:disabled {
  cursor: default;
  opacity: 0.5;
}

.paginationButton.active {
  background-color: var(--blue);
  color: #fff;
}
