.content-card {
  height: 540px;
  width: 100%;
  &__content {
    width: 1200px;
    display: flex;
  }
  &__description {
    @include flex-direction-center(column);
    margin: auto;
  }
  &--flex-center {
    @include flex-center;
  }
  &--position-relative {
    position: relative;
    z-index: 0;
  }
  &--background-color-blue {
    background-color: #cfe5ff;
  }
  &--margin-top-180px {
    margin-top: 180px;
  }
  &--margin-top-138px {
    margin-top: 138px;
  }
}

.content-figure {
  &--width-1920px {
    width: 1920px;
  }
  &__image {
    position: absolute;
    bottom: 0;
    right: 200px;
  }
}

.content-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  &--position-relative {
    position: relative;
    z-index: 2;
  }
}

.content-form {
  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__input {
    width: 640px;
    height: 56px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    background: #f3f4f6;
    border: none;
  }
  &__label {
    font-size: 18;
    font-weight: 700;
    line-height: 21.48px;
    text-align: left;
  }
}

.content-easy-login {
  width: 640px;
  height: 74px;
  gap: 0px;
  padding-inline: 23px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background: #e6f2ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    gap: 16px;
  }
  &__image {
    width: 42px;
    height: 42px;
  }
  &__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
}
